{% extends 'dashboard.base.html.twig' %}

{% block breadcrumbs %}
    {% set breadcrumbs = breadcrumbs|merge({ 'Courses': path('courses') }) %}
    {{ parent() }}
{% endblock %}

{% block sidebar %}
    {% set category = 'courses' %}
    {{ parent() }}
{% endblock %}

{% block wrapper %}
    <div class="content-title">
        <div class="content-title-infos">
            <h1>{{ 'Courses'|trans }}</h1>
        </div>
        <div class="content-title-actions">
            {% if is_granted('ROLE_TEACHER') %}
                <div class="btn-group" role="group" aria-label="Course actions">
                    <a href="{{ path('new_course') }}" class="btn btn-success">{{ 'New course'|trans }}</a>
                    <a href="#" class="btn btn-success dropdown-toggle dropdown-toggle-no-caret" id="courseMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ svg('arrow-down') }}</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="courseMenuButton">
                        <a class="dropdown-item" href="{{ path('new_course') }}">
                            <strong>New course</strong><br>
                            <span class="text-muted">Create a new course.</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('new_group') }}">
                            <strong>New group</strong><br>
                            <span class="text-muted">Create a new subgroup in a course (for pratical work for example).</span>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="content-list">
        <!-- <table id="courseTable" class="table table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>{{ 'Name'|trans }}</th>
                    <th>{{ 'Users'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table> -->
        <ul>
            {% for course in courses %}
                <li>
                    <div class="item-left d-flex flex-column">
                        <div class="d-flex">
                            <div class="avatar identicon bg-{{ course.id % 8 + 1 }} s40 rounded mr-2">
                                {% if course.pictureFilename is defined and course.pictureFilename %}
                                    image
                                {% else %}
                                    {{- course.name|firstLetter|upper -}}
                                {% endif %}
                            </div>
                            <div class="item-title">{{ course.name }}</div>
                        </div>
                    </div>
                    <div class="item-right item-margin my-2 text-muted">
                        {% if course.visibility is defined %}
                            {% if visibility == 'public' %}
                                <i class="fa fa-globe"></i>
                            {% endif %}
                        {% endif %}
                        <span>{{ svg('group') }} {{ course.users|length }}</span>
                        <button class="btn btn-default">Edit</button>
                        <button class="btn btn-danger">Delete</button>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('course') }}
{% endblock %}