{% trans_default_domain 'FOSUserBundle' %}
				{% if invalid_username is defined %}
				<div class="panel panel-red">
					<div class="panel-heading">
						<div>Erreur</div>
					</div>
					<div class="panel-footer">
						{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}
					</div>
				</div>
				{% endif %}
				
				<div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Réinitialisation de votre mot de passe</h3>
                    </div>
					
                    <div class="panel-body">
                        <form action="{{ path('fos_user_resetting_send_email') }}" method="post">
										
						
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" required="required" placeholder="{{ 'resetting.request.username'|trans }}" name="username" type="text" autofocus value=""/>
                                </div>
								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                                <!-- Change this to a button or input when using this as a form -->
                                
								<input class="btn btn-lg btn-success btn-block" type="submit" value="{{ 'resetting.request.submit'|trans }}"/>
								
                            </fieldset>
                        </form>
                    </div>
				</div>

