{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div>
    <div class="align-items-center mt-5 container-fluid container-limited">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="flashbag-container col-lg-12">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                        <div class="flash-notice alert alert-{{ label }} alert-dismissible fade show">
                        <button aria-label="Close" class="close" data-dismiss="alert" type="dismiss">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                        </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="auto-form-wrapper">
                <h1>Sign in</h1>
                    {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                    <form role="form" method="POST">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">{{ svg('mail') }}</span>
                                </div>
                                <input class="form-control" placeholder="user@domain.com" name="email" type="email" required autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">{{ svg('key') }}</span>
                                </div>
                                <input type="password" class="form-control" placeholder="*********" name="password" value="" required>
                            </div>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="form-group">
                            <button class="btn btn-success submit-btn btn-block" name="submit">Local sign in</button>
                            <p class="footer-text text-right"><a href="{{ path('reset_password') }}" class="text-muted">Reset password</a></p>
                        </div>
                        {# Add remember_me and forgot_password #}
                        {# <div class="form-group d-flex justify-content-between">
                            <div class="form-check form-check-flat mt-0">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" checked> Keep me signed in
                                </label>
                            </div>
                            <a href="#" class="text-small forgot-password text-black">Forgot Password</a>
                        </div> #}
                    </form>

                    <hr>
                    <a class="btn btn-info btn-block" href="{{ path('shib_login') }}">University sign in</a>
                   
                </div>
                <ul class="auth-footer">
                    {# <li>
                        <a href="#">Conditions</a>
                    </li>
                    <li>
                        <a href="#">Help</a>
                    </li>
                    <li>
                        <a href="#">Terms</a>
                    </li> #}
                </ul>
                <hr>
                <p class="footer-text text-left">Design by Bootstrapdash.<br/>Made by F. Nolot, J. Hubert & O. Flauzac.<br/>Version {{ version }}</p>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>
{% endblock %}