{% extends 'base.html.twig' %}

{% block title %}Sign in - RemoteLabz{% endblock %}

{% block body %}
<div>
    <div class="align-items-center mt-5 container-fluid container-limited">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="auto-form-wrapper">
                    <div class="my-3">
                        {% set theme = app.request.cookies.get('theme') %}
                        <a href="http://www.remotelabz.com" target="_blank">{% if theme == 'light' %}
                            <img src="{{ asset('build/images/RemoteLabz_logo_black.png') }}" alt="RemoteLabz logo" style="filter: invert(14%) sepia(26%) saturate(4773%) hue-rotate(236deg) brightness(96%) contrast(91%);" />
                        {% else %}
                            <img src="{{ asset('build/images/RemoteLabz_logo_white.png') }}" alt="RemoteLabz logo" />
                        {% endif %}</a>
                    </div>
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <div class="flashbag-container col-lg-12">
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                            <div class="flash-notice alert alert-{{ label }} alert-dismissible fade show">
                                <button aria-label="Close" class="close" data-dismiss="alert" type="dismiss">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{ message }}
                            </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    {% if ( general_message != "") %}
                    <div class="flashbag-container col-lg-12">
                        <div class="flash-notice alert alert-warning alert-dismissible fade show">
                            {{ general_message }}
                        </div>
                    </div>
                    {% endif %}
                    {% if ( maintenance == 1) %}
                        {{ svg('warning', 'image-lm') }}
                        <div class="text-center">In maintenance</div>
                    {% endif %}
                    
                        <form role="form" method="POST">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{ svg('mail', 'image-sm') }}</span>
                                    </div>
                                    <input class="form-control" placeholder="user@domain.com" name="email" type="email" value="{{ last_username }}" required autofocus>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{ svg('key', 'image-sm') }}</span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="*********" name="password" value="" required autofocus>
                                </div>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="form-group">
                                <button class="btn btn-success submit-btn btn-block" name="submit">
                                    {% if enable_shibboleth %}
                                        Local sign in
                                    {% else %}
                                        Sign in
                                    {% endif %}
                                </button>
                                {% if ( maintenance == 0) %}
                                    <p class="footer-text text-right mt-2"><a href="{{ path('reset_password') }}" class="text-muted">Lost your password ?</a></p>
                                    <p class="footer-text text-right mt-2"><a href="{{ path('code_login') }}" class="text-muted">Login with code</a></p>
                                {% endif %}

                            </div>
                        </form>
                
                        {% if enable_shibboleth and maintenance == 0%}
                            <hr>
                            <a class="btn btn-info btn-block" href="{{ path('shib_login') }}">Education Federation - Research sign in</a>
                        {% endif %}
                </div>
                <hr>
                <p class="footer-text text-left">
                Version {{ version }} 
                {% if commit and commit != 'unknown' %}
                    ( <a href="{{ commit_url }}" target="_blank" class="text-muted">commit: {{ commit }}</a>, 
                    <a href="{{ github_url}}/tree/{{branch }}" target="_blank" class="text-muted">branch: {{ branch }}</a> )
                {% else %}
                    ( <a href="{{ github_url }}" target="_blank" class="text-muted">RemoteLabz on Github </a> )
                {% endif %}
                </p>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>
<footer>
          
          <div class="d-flex align-items-center justify-content-center">
            <a href="https://anr.fr" target="_blank"><img src="{{ asset('build/images/Logo-France2030-type-blanc.png') }}" class="partnership-logo w64 h64" /></a>
            <div class="flex-fill">Aide d'état au titre du projet France 2030 Fo6Med - ANR-23-CMAS-0008</div>
            <div class="flex-fill"><a href="https://docs.remotelabz.com" target="_blank">Help</a></div>
            <div class="flex-fill"><a href="https://www.remotelabz.com" target="_blank">Web site</a></div>
          </div>
        </footer>
{% endblock %}