{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="content-wrapper">
    <div class="align-items-center mt-5 container-fluid">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="flashbag-container col-lg-12">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                        <div class="flash-notice alert alert-{{ label }} alert-dismissible fade show">
                        <button aria-label="Close" class="close" data-dismiss="alert" type="dismiss">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                        </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="auto-form-wrapper">
                    <h1>Reset your password</h1>

                    {% if invalidToken %}
                        <p class="text-muted">Invalid link. <a href="{{ path('login') }}">Go back to login page</a>.</p>
                    {% endif %}

                    {% if expiredToken %}
                        <p class="text-muted">Your token has expired. <a href="{{ path('login') }}">Go back to login page</a>.</p>
                    {% endif %}

                    {% if not invalidToken and not expiredToken %}
                        {% if error is defined %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <p class="text-muted">Please enter your new password :</p>
                        {{ form(newPasswordForm) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>
{% endblock %}