{% extends 'dashboard.base.html.twig' %}

{% block breadcrumbs %}
    {% set breadcrumbs = breadcrumbs|merge({ 'Flavors': path('flavors') }) %}
    {{ parent() }}
{% endblock %}

{% block sidebar %}
    {% set category = 'flavors' %}
    {{ parent() }}
{% endblock %}

{% block wrapper %}
    <div class="content-title">
        <div class="content-title-infos">
            <h1>{{ 'Flavors'|trans }}</h1>
        </div>
        <div class="content-title-actions">
            <a href="{{ path('new_flavor') }}" class="btn btn-success">{{ 'New flavor'|trans }}</a>
        </div>
    </div>
    <div class="content-body">
        <table id="flavorTable" class="table table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>{{ 'Name'|trans }}</th>
                    <th class="sorting">{{ 'Memory'|trans }}</th>
                    {#<th>{{ 'Disk'|trans }}</th>#}
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('flavor') }}
{% endblock %}