{% extends 'AppBundle::accueil_auth.html.twig' %}

{% block body %}
    <div id="page-wrapper">
    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('danger') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Ajout d'un LAB</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="row">
                    <div class="col-sm-10">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Ajoutez des pods au lab</div>
                            <div class="panel-body">

                                <div class="x_content">
                                    <!-- content starts here -->
                                    {{ form_start(labForm, {'attr': {'class': 'form-horizontal'}}) }}
                                    {# Les erreurs générales du formulaire. #}
                                    {{ form_errors(labForm) }}
                                    <div class="form-group">
                                        {# Génération du label. #}
                                        {{ form_label(labForm.nomlab, "Nom de lab", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                        {# Affichage des erreurs pour ce champ précis. #}
                                        {{ form_errors(labForm.nomlab) }}

                                        <div class="col-sm-2">
                                            {# Génération de l'input. #}
                                            {{ form_widget(labForm.nomlab, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {# Génération du label. #}
                                        {{ form_label(labForm.pod, "Pod", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                        {# Affichage des erreurs pour ce champ précis. #}
                                        {{ form_errors(labForm.pod) }}

                                        <div class="col-sm-2">
                                            {# Génération de l'input. #}
                                            {{ form_widget(labForm.pod, {'attr': {'class': 'pod'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {# Génération du label. #}
                                        {{ form_label(labForm.connexions, "Connexions", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                        {# Affichage des erreurs pour ce champ précis. #}
                                        {{ form_errors(labForm.connexions) }}

                                        <div class="col-sm-2">
                                            {# Génération de l'input. #}
                                            {{ form_widget(labForm.connexions, {'attr': {'class': 'connexions'}}) }}
                                        </div>
                                    </div>

                                    {{ form_widget(labForm.Add, {'attr': {'class': 'btn btn-primary'}}) }}

                                    {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}


                                    {# Génération automatique des champs pas encore écrits.
                                        Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
                                        et tous les champs cachés (type « hidden »). #}

                                    {{ form_rest(labForm) }}

                                    {# Fermeture de la balise <form> du formulaire HTML #}
                                    {{ form_end(labForm) }}
                                    <!-- content ends here -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
   <script type="text/javascript">
        $(function () {
            jQuery(document).ready(function () {
                console.log("jQuery est prêt !");

                $(".pod").change(function () {
                    console.log("pod !");
                    var val = $(this).val();
                    if (val != null){
                        mafonctionchange1();
                    }

                })
                        .trigger('change');

            });

            function mafonctionchange1() {
                $.ajax({
                    url: "{{ url('ajax_connexion_pod') }}",
                    type: 'POST',
                    data: {
                        id: $("select.pod option:selected").val(),

                    },
                    dataType: 'json',


                    success: function (reponse) {

                        $('.connexions').empty();
                        if (reponse != null){
                            console.log("réponse ");
                            $('.connexions').empty();

                            $.each(reponse, function (index, element) {
                                $('.connexions').append('<option value="' + element.id + '" selected="selected"> ' + element.nomconnexion + ' </option>');
                            });
                        }
                        else $('.connexions').empty();

                    }

                });
            }
        });
    </script>








{% endblock %}