{% extends 'AppBundle::accueil_auth.html.twig' %}

{% block body %}
    <div id="page-wrapper" xmlns="http://www.w3.org/1999/html">
    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('danger') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Ajout d'une Connexion</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="row">
                    <div class="col-sm-10">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Ajoutez une connexion</div>
                            <div class="panel-body">

                                <div class="x_content">

                                    <!-- content starts here -->
                                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                    {# Les erreurs générales du formulaire. #}
                                    {{ form_errors(form) }}
                                    <div class="form-group">
                                        {# Génération du label. #}
                                        {{ form_label(form.nomconnexion, "Nom ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                        {# Affichage des erreurs pour ce champ précis. #}
                                        {{ form_errors(form.nomconnexion) }}

                                        <div class="col-sm-2">
                                            {# Génération de l'input. #}
                                            {{ form_widget(form.nomconnexion, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {# Génération du label. #}
                                        {{ form_label(form.pod, "Pod", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                        {# Affichage des erreurs pour ce champ précis. #}
                                        {{ form_errors(form.pod) }}

                                        <div class="col-sm-2">
                                            {# Génération de l'input. #}
                                            {{ form_widget(form.pod, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        </div>
                                        <div class="form-group">
                                             {#Génération du label. #}
                                            {{ form_label(form.Device1, "Device1", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                             {#Affichage des erreurs pour ce champ précis. #}
                                            {{ form_errors(form.Device1) }}

                                            <div class="col-sm-2">
                                                 {#Génération de l'input.#}
                                                {{ form_widget(form.Device1, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                            <div class="form-group">
                                                 {#Génération du label. #}
                                                {{ form_label(form.Interface1, "Interface1", {'label_attr': {'class': ' col-sm-2 control-label'}}) }}

                                                 {#Affichage des erreurs pour ce champ précis. #}
                                                {{ form_errors(form.Interface1) }}

                                                <div class="col-sm-2">
                                                    {#Génération de l'input.#}
                                                    {{ form_widget(form.Interface1, {'attr': {'class': 'interfaceclass'}}) }}
                                                </div>

                                      </div>


                                    </div>


                                    {{ form_widget(form.Suivant, {'attr': {'class': 'btn btn-primary'}}) }}

                                    {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}


                                    {# Génération automatique des champs pas encore écrits.
                                        Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
                                        et tous les champs cachés (type « hidden »). #}

                                    {{ form_rest(form) }}

                                    {# Fermeture de la balise <form> du formulaire HTML #}
                                    {{ form_end(form) }}
                                    <!-- content ends here -->
    <script type="text/javascript">
        $(function () {
            jQuery(document).ready(function() {
                console.log("jQuery est prêt !");

                $(".connexion_type_pod").change(function() {
                    mafonctionchange('Pod','Device');
                }).trigger('change');

                $(".connexion_type_Device1").change(function() {
                    mafonctionchange('Interface','Device');;
                });

                function mafonctionchange(selecteur,selecteurparent)
                {
                    $.ajax({
                        url: "{{ url('ajax_connexion_call') }}
                        type: 'POST',
                        data:
                        {
                            id : $("select."+selecteurparent+"class option:selected").val(),
                            select : selecteur
                        },
                        dataType: 'json',
                        success: function(reponse) {

                            $('.'+selecteur+'class').empty();
                            $.each(reponse, function(index, element) {
                                $('.' + selecteur + 'class').append('<option value="'+ element.id +'" selected="selected"> '+ element.nom +' </option>');
                            });

                            if (selecteur == 'region') {
                                mafonctionchange('ville','region');
                            }
                        }
                    });
                }
            });
        });

                                    {#<script type="text/javascript">#}
                                        {#$(document).ready(function () {#}
                                            {#$('#connexion_type_pod').change(function(){#}
                                                {#var val = $(this).val();#}
                                                {#if (val != null) {#}
                                                    {#console.log('ça charge');#}
                                                    {#$.ajax({#}

                                                        {#type: "POST",#}
                                                        {#url: "{{ url('ajax_connexion_call') }}?pod_id=" + val,#}
                                                        {#beforeSend: function () {#}

                                                        {#},#}
                                                        {#success: function (data) {#}
                                                            {#console.log('ça charge même ici');#}
                                                            {#// Remove current options#}
                                                            {#$('#connexion_type_nomdevice1').html('');#}
                                                            {#$.each(data, function (k, v) {#}
                                                                {#console.log(data);#}
                                                                {#$('#connexion_type_nomdevice1').append('<option value="' + v + '">' + k + '</option>');#}
                                                            {#});#}
                                                        {#}#}
                                                    {#});#}
                                                {#}#}
                                                {#return false;#}
                                            {#});#}
                                            {#$('#connexion_type_nomdevice1').change(function() {#}
                                                        {#var val2 = $(this).val();#}
                                                        {#if (val2 != null) {#}
                                                            {#$.ajax({#}

                                                                {#type: "POST",#}
                                                                {#url: "{{ url('ajax_connexion_call') }}?dev_id=" + val2,#}
                                                                {#beforeSend: function () {#}
                                                                    {#if (val2 != null){#}
                                                                        {#console.log('ça charge pour les interfaces avant denvoyer');#}
                                                                    {#}#}


                                                                {#},#}
                                                                {#success: function (data) {#}
                                                                    {#console.log('ça charge pour les interfaces');#}
                                                                    {#// Remove current options#}
{#//                                                                    $('#connexion_type_nomdevice1').html('');#}
                                                                    {#$.each(data, function (k, v) {#}
                                                                        {#console.log(data);#}
                                                                        {#$('#connexion_type_interface1').append('<option value="' + v + '">' + k + '</option>');#}
                                                                    {#});#}
                                                                {#}#}
                                                            {#});#}
                                                        {#}#}
                                                {#return false;#}
                                            {#})#}



                                        {#});#}
                                       {#</script>#}
</script>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>





{% endblock %}