{% extends 'AppBundle::accueil_auth.html.twig' %}

{% block body %}
    <div id="page-wrapper">
    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('danger') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Ajout d'une Connexion</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="row">
                    <div class="col-sm-10">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Ajoutez une connexion</div>
                            <div class="panel-body">

                                <div class="x_content">

                                    <!-- content starts here -->
                                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                    {# Les erreurs générales du formulaire. #}
                                    {{ form_errors(form) }}
                                    <div class="form-group">
                                        {# Génération du label. #}
                                        {{ form_label(form.nomconnexion, "Nom ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                        {# Affichage des erreurs pour ce champ précis. #}
                                        {{ form_errors(form.nomconnexion) }}

                                        <div class="col-sm-2">
                                            {# Génération de l'input. #}
                                            {{ form_widget(form.nomconnexion, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {# Génération du label. #}
                                        {{ form_label(form.pod, "Pod", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                        {# Affichage des erreurs pour ce champ précis. #}
                                        {{ form_errors(form.pod) }}

                                        <div class="col-sm-2">
                                            {# Génération de l'input. #}
                                            {{ form_widget(form.pod, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="form-group">
                                            {# Génération du label. #}
                                            {{ form_label(form.nomdevice1, "Device1", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                            {# Affichage des erreurs pour ce champ précis. #}
                                            {{ form_errors(form.nomdevice1) }}

                                            <div class="col-sm-2">
                                                {# Génération de l'input. #}
                                                {{ form_widget(form.nomdevice1, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                    </div>

                                    {{ form_widget(form.Suivant, {'attr': {'class': 'btn btn-primary'}}) }}

                                    {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}


                                    {# Génération automatique des champs pas encore écrits.
                                        Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
                                        et tous les champs cachés (type « hidden »). #}

                                    {{ form_rest(form) }}

                                    {# Fermeture de la balise <form> du formulaire HTML #}
                                    {{ form_end(form) }}
                                    <!-- content ends here -->

                                    <script type="text/javascript">
                                        $(document).ready(function () {
                                            $('#connexion_type_pod').change(function(){
                                                var val = $(this).val();
                                                if (val != null) {
                                                    console.log('ça charge');
                                                    $.ajax({

                                                        type: "POST",
                                                        url: "{{ url('ajax_connexion_call') }}?pod_id=" + val,
                                                        beforeSend: function () {

                                                        },
                                                        success: function (data) {
                                                            // Remove current options
                                                            $('#connexion_type_nomdevice1').html('');
                                                            $.each(data, function (k, v) {
                                                                $('#connexion_type_nomdevice1').append('<option value="' + v + '">' + k + '</option>');
                                                            });
                                                        }
                                                    });
                                                }else {
                                                    console.log('ça charge pas ');
                                                    $('#connexion_type_nomdevice1').html('');

                                                }
                                                return false;
                                            });
                                        });
                                       </script>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>





{% endblock %}