{% extends 'AppBundle::accueil_auth.html.twig' %}

{% block body %}
    <div id="page-wrapper" xmlns="http://www.w3.org/1999/html">
    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('danger') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Ajout d'une Connexion</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="row">
                    <div class="col-sm-10">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Ajoutez une connexion</div>
                            <div class="panel-body">

                                <div class="x_content">

                     {#**************************************************************************************************************#}
                                    <!-- content starts here -->
                                    {{ form_start(form_connexion, {'attr': {'class': 'form-horizontal'}}) }}
                                    {# Les erreurs générales du formulaire. #}
                                    {{ form_errors(form_connexion) }}

                                    <div class="form-group">
                                     {#Génération du label. #}
                                    {{ form_label(form_connexion.nomconnexion, "Nom ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                     {#Affichage des erreurs pour ce champ précis. #}
                                    {{ form_errors(form_connexion.nomconnexion) }}

                                        <div class="col-sm-2">
                                     {#Génération de l'input. #}
                                    {{ form_widget(form_connexion.nomconnexion, {'attr': {'class': 'form-control'}}) }}
                                       </div>
                                    </div>

                                    <div class="form-group">
                                        {#Génération du label. #}
                                        {{ form_label(form_connexion.Device1, "Device1", {'label_attr': {'class': 'col-sm-2'}}) }}

                                        {#Affichage des erreurs pour ce champ précis. #}
                                        {{ form_errors(form_connexion.Device1) }}

                                        <div class="col-sm-2">
                                        {#Génération de l'input.#}
                                        {{ form_widget(form_connexion.Device1, {'attr': {'class': 'dev1 span3' }}) }}
                                        </div>
                                        <div class="form-group">
                                            {#Génération du label. #}
                                            {{ form_label(form_connexion.Interface1, "Interface1", {'label_attr': {'class': 'col-sm-2 '}}) }}

                                            {#Affichage des erreurs pour ce champ précis. #}
                                            {{ form_errors(form_connexion.Interface1) }}

                                            <div class="col-sm-2">
                                            {#Génération de l'input.#}
                                            {{ form_widget(form_connexion.Interface1, {'attr': {'class': 'net1 span3'}}) }}
                                            </div>
                                            <div class="form-group">
                                                {#Génération du label. #}
                                                {{ form_label(form_connexion.vlan1, "N° Vlan", {'label_attr': {'class': 'col-sm-2 '}}) }}

                                                {#Affichage des erreurs pour ce champ précis. #}
                                                {{ form_errors(form_connexion.vlan1) }}
                                                <div class="col-sm-2">
                                                    {#Génération de l'input.#}
                                                    {{ form_widget(form_connexion.vlan1, {'attr': {'class': 'net2 span3'}}) }}
                                                </div>
                                   </div>
                                    <div class="form-group">
                                        {#Génération du label. #}
                                        {{ form_label(form_connexion.Device2, "Device2", {'label_attr': {'class': 'col-sm-2'}}) }}

                                        {#Affichage des erreurs pour ce champ précis. #}
                                        {{ form_errors(form_connexion.Device2) }}

                                        <div class="col-sm-2">
                                            {#Génération de l'input.#}
                                            {{ form_widget(form_connexion.Device2, {'attr': {'class': 'dev2 span3' }}) }}
                                        </div>
                                        <div class="form-group">
                                                {#Génération du label. #}
                                                {{ form_label(form_connexion.Interface2, "Interface2", {'label_attr': {'class': 'col-sm-2'}}) }}

                                                {#Affichage des erreurs pour ce champ précis. #}
                                                {{ form_errors(form_connexion.Interface2) }}
                                              <div class="col-sm-2">
                                                {#Génération de l'input.#}
                                                {{ form_widget(form_connexion.Interface2, {'attr': {'class': 'net2 span4'}}) }}
                                             </div>
                                        <div class="form-group">
                                            {#Génération du label. #}
                                            {{ form_label(form_connexion.vlan2, "N° Vlan", {'label_attr': {'class': 'col-sm-2 '}}) }}

                                            {#Affichage des erreurs pour ce champ précis. #}
                                            {{ form_errors(form_connexion.vlan2) }}
                                            <div class="col-sm-2">
                                                {#Génération de l'input.#}
                                                {{ form_widget(form_connexion.vlan2, {'attr': {'class': 'net2 span3'}}) }}
                                            </div>
                                    </div>


                                    {{ form_widget(form_connexion.add, {'attr': {'class': 'btn btn-primary'}}) }}

                                    {#Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}


                                    {# Génération automatique des champs pas encore écrits.
                                        Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
                                        et tous les champs cachés (type « hidden »). #}

                                    {{ form_rest(form_connexion) }}

                                    {# Fermeture de la balise <form> du formulaire HTML #}
                                    {{ form_end(form_connexion) }}
                                    <!-- content ends here -->


                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(function () {
        jQuery(document).ready(function () {
            console.log("jQuery est prêt !");

            $(".dev1").change(function () {
                var val = $(this).val();
                if (val != null){
                         mafonctionchange1();
                        }

                    })
                    .trigger('change');

            $(".dev2").change(function () {
                        var val = $(this).val();
                        if (val != null){
                            //console.log(val);
                            mafonctionchange2();
                        }


                    })
                    .trigger('change');

            });

            function mafonctionchange1() {
                //console.log("device1");
                $.ajax({
                    url: "{{ url('ajax_connexion_call') }}",
                    type: 'POST',
                    data: {
                        id: $("select.dev1 option:selected").val(),

                    },
                    dataType: 'json',


                    success: function (reponse) {

                        $('.net1').empty();
                        if (reponse != null){
                            //console.log(reponse);
                            $('.net1').empty();

                        $.each(reponse, function (index, element) {
                            $('.net1').append('<option value="' + element.id + '" selected="selected"> ' + element.nom_virtuel +' ('+element.nom_physique+') </option>');
                        });
                        }
                        else $('.net1').empty();

                    }

                });
            }
            function mafonctionchange2() {
                //	console.log("device2");
                $.ajax({
                    url: "{{ url('ajax_connexion_call') }}",
                    type: 'POST',
                    data: {
                        id: $("select.dev2 option:selected").val(),

                    },
                    dataType: 'json',


                    success: function (reponse) {

                        $('.net2').empty();
                        if (reponse == null){
                            console.log("réponse vide");
                            $('.net2').empty();
                        }
                        $.each(reponse, function (index, element) {
                            $('.net2').append('<option value="' + element.id + '" selected="selected"> ' + element.nom_virtuel +' ('+element.nom_physique+') </option>');
                        });
                    }

                });
            }
        });
 </script>




{% endblock %}