<h3>Administration</h3>
              <ul class="nav side-menu">
                <li><a><i class="fa fa-users"></i> Utilisateurs <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="{{path('add_user')}}">Ajouter</a></li>
					<li><a href="{{path('change_role')}}">Changer rôle</a></li>                 
					<li><a href="{{path('list_user')}}">Lister</a></li>                 
                  </ul>
				<li><a><i class="fa fa-cog"></i>Gestion TP <span class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu" style="display: none">
                        <li><a><i class="fa fa-cog"></i> Configuration <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu" style="display: none">
                                    <li><a href="{{path('add_device')}}">Ajouter Device</a></li>
                                    <li><a href="{{path('add_pod')}}">Ajouter POD</a></li>
                                    <li><a href="{{path('add_connexion')}}">Ajouter Connexion</a></li>
                                    <li><a href="{{path('add_lab')}}">Ajouter LAB</a></li>
                                    <li><a href="{{path('add_tp')}}">Ajouter TP</a></li>
                                </ul>
                        </li>
					</ul>
						<ul class="nav child_menu" style="display: none">
                        <li><a><i class="fa fa-cog"></i> Listes <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu" style="display: none" >
                                <li><a href="{{path('list_Device')}}">List Device</a></li>
                                <li><a href="{{path('list_Network_Interface')}}">List Interface</a></li>
                                <li><a href="{{path('list_POD')}}">List POD</a></li>
                                <li><a href="{{path('list_Connexion')}}">List Connexion</a></li>
                                <li><a href="{{path('list_LAB')}}">List LAB</a></li>
                                <li><a href="{{path('list_TP')}}">List TP</a></li>
								<li><a href="{{path('list_system')}}">List des systèmes</a></li>
								<li><a href="{{path('list_Parameter')}}">List Parametre</a></li>
								<li><a href="{{path('list_Hyperviseur')}}">List Hyperviseur</a></li>
								<li><a href="{{path('list_ConfigReseau')}}">List Config_Reseau</a></li>
                            </ul>
                        </li>

					</ul>
                 </li>
				</ul>
			
			  </ul>
            <br/>