{% extends 'dashboard.base.html.twig' %}

{% block breadcrumbs %}
    {%- set breadcrumbs = breadcrumbs|merge({ ("Sandbox"): path('sandbox') }) -%}
    {{ parent() }}
{% endblock %}

{% block sidebar %}
    {% set category = 'sandbox' %}
    {{ parent() }}
{% endblock %}

{% block wrapper %}
<div class="content-title">
    <div class="content-title-infos">
        <h1>{{ 'Sandbox'|trans }}</h1>
    </div>
    <div class="content-title-actions">
        <a class="btn btn-success"  href="{{path('new_lab_template') }}">{{ 'New Lab'|trans }}</a>
    </div>
</div>
<div class="content-body">
    <form action="{{ path('sandbox') }}" method="GET">
        <div class="row">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                    <input type="search" class="form-control input-sm" name="search"
                    placeholder="Search by name"
                    spellcheck="false" value="{{ search|default('') }}">
                </div>
            </div>
        </div>
    </form>
</div>
{{ react_component('SandboxManager', {props: props}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}