{% extends 'dashboard.base.html.twig' %}

{% block breadcrumbs %}
    {%- set breadcrumbs = breadcrumbs|merge({ 'Labs': path('labs') }) -%}
    {{ parent() }}
{% endblock %}

{% block wrapper %}
<div class="row">
    <div class="col grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form action="{{ path('labs') }}" method="GET">
                    <div class="row">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </div>
                                <input type="search" class="form-control input-sm" name="search"
                                placeholder="Search by name"
                                spellcheck="false" value="{{ search|default('') }}" type="search">
                            </div>
                        </div>
                        {% if is_granted('ROLE_ADMINISTRATOR') %}
                        <div class="col-md-auto">
                            <a class="btn btn-success btn-block" role="button" href="{{
                            path('new_lab') }}">{{ 'New Lab'|trans }}</a>
                        </div>
                        {% endif %}
                    </div>
                </form>
                <p>
                {% for lab in labs %}
                    <div class="wrapper d-flex align-items-center py-2 {% if not loop.last %}border-bottom{% endif %}">
                        <a href="{{ path('show_lab', {'id': lab.id}) }}">
                            {{ lab.name }}
                        </a>
                    </div>
                {% endfor %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# {{ encore_entry_script_tags('lab') }} #}
{% endblock %}