{% extends 'dashboard.base.html.twig' %}

{% block header %}
    {% set category = 'labs' %}
    {{ parent() }}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block sidebar %}{% endblock %}

{% block wrapper_xl %}
    <div class="py-3 border-bottom">
        <h1>Labs</h1>
    </div>
    <div class="top-panel">
        <div class="quick-actions">
            {% if (is_granted('ROLE_ADMINISTRATOR') or is_granted('ROLE_TEACHER')) %}
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#importLabModal">
                    {{ svg('upload') }} {{ 'Import Lab'|trans }}
                </button>
                <a class="btn btn-success" role="button" href="{{
                path('new_lab') }}">{{ 'New Virtual Lab'|trans }}</a>
                <a class="btn btn-success" role="button" href="{{
                path('new_physical_lab') }}">{{ 'New Physical Lab'|trans }}</a>
            {% endif %}
        </div>
        <ul class="nav-links nav nav-tabs">
            {# <li><a href="#"><span>Started</span> <span class="badge badge-pill">0</span></a></li>
            <li><a href="#"><span>Stopped</span> <span class="badge badge-pill">0</span></a></li> #}
            {% set virtuality = app.request.query.get('virtuality') %}
            <li {% if virtuality is null %}class="active"{% endif %}>
                <a href="{{ path('labs', app.request.query|merge({virtuality: null, page: null})) }}">
                    <span>All</span> <span class="badge badge-pill">{{ count.total }}</span>
                </a>
            </li>
            <li {% if virtuality is same as("1") %}class="active"{% endif %}>
                <a href="{{ path('labs', app.request.query|merge({virtuality: 1, page: null})) }}">
                    <span>Virtual</span> <span class="badge badge-pill">{{ count.virtual }}</span>
                </a>
            </li>
            <li {% if virtuality is same as("0") %}class="active"{% endif %}>
                <a href="{{ path('labs', app.request.query|merge({virtuality: 0, page: null})) }}">
                    <span>Physical</span> <span class="badge badge-pill">{{ count.physical }}</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="search-panel">
        {% set orderBy = app.request.query.get('orderBy')|default('lastUpdated') %}
        <form action="{{ path('labs', app.request.query|merge(app.request.query)) }}" method="GET" class="d-flex align-items-center">
            <div class="search-field flex-grow-1 mr-3">
                <i class="fa fa-search"></i>
                <input type="search" class="form-control input-sm" name="search" placeholder="Filter by name" spellcheck="false" value="{{ search|default('') }}" type="search" />
            </div>
            <div class="mr-2">
                {% set searchLimit = app.request.query.get("limit") %}
                <select name="limit" class="form-control">
                    <option value="10" {% if searchLimit != 30 and searchLimit != 50 %}selected{% endif %}>10</option>
                    <option value="30" {% if searchLimit is defined and searchLimit == 30 %}selected{% endif %}>30</option>
                    <option value="50" {% if searchLimit is defined and searchLimit == 50 %}selected{% endif %}>50</option>
                </select>
            </div>
            <div class="mr-3">
                labs per page
            </div>
         {#  <div class="dropdown mr-3">
                <button class="dropdown-menu-toggle btn btn-default" id="sort-projects-dropdown" type="button" data-toggle="dropdown" data-display="static" aria-expanded="true"><span class="dropdown-toggle-text ">Last updated</span>{{ svg('chevron-down') }}</button>
                <ul class="dropdown-menu">
                    <h6 class="dropdown-header">
                    Sort by
                    </h6>
                    <li>
                    <a class="dropdown-item {{ orderBy == 'lastUpdated' ? 'is-active' }}" href="{{ path('labs', app.request.query|merge({'sort_by': 'lastUpdated'})) }}">Last updated
                    </a></li>
                    <li>
                    <a class="dropdown-item" href="/dashboard/projects?sort=created_desc">Last created
                    </a></li>
                    <li>
                    <a class="dropdown-item" href="/dashboard/projects?sort=name_asc">Name
                    </a></li>
                    <li>
                    <a class="dropdown-item" href="/dashboard/projects?sort=name_desc">Name, descending
                    </a></li>
                    <li>
                    <a class="dropdown-item" href="/dashboard/projects?sort=stars_desc">Most stars
                    </a></li>
                    <li>
                    <a class="dropdown-item" href="/dashboard/projects?sort=latest_activity_asc">Oldest updated
                    </a></li>
                    <li>
                    <a class="dropdown-item" href="/dashboard/projects?sort=created_asc">Oldest created
                    </a></li>
                </ul>
            </div> #}
            <button class="btn btn-primary" type="submit">{{ svg('search') }}</button>
        </form>
    </div>

    <div class="labs-panel">
    {% for lab in labs %}
        <div class="wrapper d-flex align-items-center {% if not loop.last %}border-bottom{% endif %} lab-item">
            <div class="lab-item-left d-flex flex-column">
                <div>
                    <a href="{{ path('show_lab', {'id': lab.id}) }}" class="lab-item-name">
                        {{- lab.name -}}
                    </a>
                </div>
                <div class="lab-item-infos text-muted">
                    {# !{{ lab.id }} · created
                    <span class="timeago" datetime="{{ lab.createdAt|date('m/d/Y H:i:s') }}" data-toggle="tooltip" data-placement="bottom" title="{{ lab.createdAt|date('M d, Y h:ia') }}"></span>
                    by
                    <a href="{{ path('labs', app.request.query|merge({author: lab.author.id})) }}" data-toggle="tooltip" data-placement="top" title="See all labs by {{lab.author.name}}">
                        <img src="/users/{{lab.author.id}}/picture?size=17" alt="{{lab.author.name}}" class="rounded-circle v-bottom" />
                        <span class="lab-item-author" >{{ lab.author.name }}</span>
                    </a> #}
                </div>
            </div>
            <div class="separator flex-grow-1"></div>
            <div class="lab-item-right d-flex flex-column text-right">
                <div>
                    {# <div class="d-inline" data-toggle="tooltip" data-placement="top" title="Related activities">
                        <span {% if lab.activities|length == 0 %}class="lab-item-counter-empty"{% endif -%}>
                            <span>{{ svg('review-list', 'image-sm v-sub') }}</span> {{ lab.activities|length }}
                        </span>
                    </div> #}

                    <div class="d-inline ml-2" data-toggle="tooltip" data-placement="top" title="Devices">
                        <span {% if lab.devices|length == 0 %}class="lab-item-counter-empty"{% endif -%}>
                            <span>{{ svg('monitor-o', 'image-sm v-sub') }}</span> {{ lab.devices|length }}
                        </span>
                    </div>
                </div>
                <div class="lab-item-infos text-muted">updated <span class="timeago" datetime="{{ lab.lastUpdated|date('m/d/Y H:i:s') }}" data-toggle="tooltip" data-placement="bottom" title="{{ lab.lastUpdated|date('M d, Y h:ia') }}"></span></div>
            </div>
        </div>
    {% endfor %}
    </div>
    
    {% set pagesNumber = count.current > limit ? count.current // limit + 1 : 1 %}
    <nav aria-label="Page navigation example">
        <ul class="pagination mt-3 justify-content-center">
            <li class="page-item {% if page <= 1 %}disabled{%endif%}">
                <a class="page-link" href="{{ path('labs', app.request.query|merge({page: page-1})) }}">Previous</a>
            </li>
            {% for i in 1.. pagesNumber %}
                <li class="page-item {% if i == page %}active{%endif%}"><a class="page-link" href="{{ path('labs', app.request.query|merge({page: i})) }}">{{ i }}</a></li>
            {% endfor %}
            <li class="page-item {% if page >= pagesNumber %}disabled{%endif%}">
                <a class="page-link" href="{{ path('labs', app.request.query|merge({page: page+1})) }}">Next</a>
            </li>
        </ul>
    </nav>

    <div class="modal fade" tabindex="-1" id="importLabModal" aria-labelledby="importLabModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="importLabModalLabel">Import a Lab</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        {{- react_component('LabImporter') -}}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('timeago') }}
{% endblock %}