{% extends 'lab/index.html.twig' %}

{% block breadcrumbs %}
    {%- set breadcrumbs = breadcrumbs|merge({ ("!" ~ lab.id): path('show_lab', {'id': lab.id}) }) -%}
    {{ parent() }}
{% endblock %}

{% block wrapper %}
<div class="content-title">
    <div class="content-title-infos">
        {% set labInstanced = lab.getInstances()|length > 0 %}
        <label class="mr-1 badge badge-{% if labInstanced %}success{% else %}danger{% endif %}">
            {%- if labInstanced %}
                Has instances
            {% else %}
                No instance
            {% endif -%}
        </label>
        Created <span class="timeago" datetime="{{ lab.createdAt|date('m/d/Y H:i:s') }}" data-toggle="tooltip" data-placement="bottom" title="{{ lab.createdAt|date('M d, Y h:ia') }}"></span> by <img src="/users/{{lab.author.id}}/picture?size=24&hash=author" class="rounded-circle ml-1 mr-1 d-inline-block" /> <strong>{{lab.author.name}}</strong>
    </div>
    <div class="content-title-actions">
        {% if labInstance is empty %} 
            <a href="{{ path('start_lab', {'id': lab.id}) }}" class="btn btn-primary" role="button">
                {{ 'Start all'|trans }}
            </a>
            {% if is_granted("ROLE_ADMINISTRATOR") or is_granted("ROLE_TEACHER") %}
                <a href="{{ path('edit_lab', {'id': lab.id}) }}" class="btn btn-secondary" role="button"><i class="fa fa-edit"></i> 
                    {{ 'Edit'|trans }}
                </a>
                <a href="{{ path('delete_lab', {'id': lab.id}) }}" class="btn btn-danger" role="button">
                    {{ 'Delete'|trans }}
                </a>
            {% endif %}
        {% elseif not labInstance.isStarted %}
            <a href="{{ path('stop_lab', {'id': lab.id}) }}" class="btn btn-primary" role="button">
                {{ 'Stop all'|trans }}
            </a>
        {% else %}
            <a href="{{ path('stop_lab', {'id': lab.id}) }}" class="btn btn-primary" role="button">
                    {{ 'Stop all'|trans }}
            </a>
        {% endif %}
        <!-- Connect -->
        {% if labInstance %}
            {% if (is_granted("ROLE_USER") and labInstance.activity and labInstance.activity.InternetAllowed) or is_granted("ROLE_TEACHER") or is_granted("ROLE_ADMINISTRATOR") %}                                          
                {% if (not labInstance.IsInternetConnected) %}
                    <a href="{{ path('connect_internet', {'id': lab.id}) }}" class="btn btn-primary" role="button">
                        {{ 'Connect'|trans }}
                    </a>
                {% else %}
                    <a href="{{ path('disconnect_internet', {'id': lab.id}) }}" class="btn btn-primary" role="button">
                        {{ 'Disconnect'|trans }}
                    </a>
                {% endif %}
                {% if (not labInstance.IsInterconnected) %}
                    <a href="{{ path('interconnect', {'id': lab.id}) }}" class="btn btn-primary" role="button">
                        {{ 'Interconnect'|trans }}
                    </a>
                {% else %}
                    <a href="{{ path('disinterconnect', {'id': lab.id}) }}" class="btn btn-primary" role="button">
                        {{ 'Dis-interconnect'|trans }}
                    </a>
                {% endif %}
            {% endif %}
        {% endif %}

        {% if (is_granted("ROLE_ADMINISTRATOR") or lab.author == app.user) and labInstance is null %}
            <a href="{{ path('delete_lab', {'id': lab.id}) }}" class="btn btn-danger" role="button">{{ 'Delete'|trans }}
            </a>
        {% endif %}
    </div>
</div>
<div class="content-body">
    <h1 class="mb-0">{{ lab.name }}</h1>
</div>
{% if lab.description is defined %}
    {{ lab.description|markdown }}
{% else %}
    <p class="text-muted">No description</p>
{% endif %}
<br>
<div class="row">
    <div class="col">
        <h3>Devices</h3>
        <hr>

        {% for device in lab.devices %}
        <div class="wrapper align-items-center py-4 {% if not loop.last %}border-bottom{% endif %}">
            {% if is_granted("ROLE_ADMINISTRATOR") %}
                {% set path = 'show_device' %}
            {% else %}
                {% set path = 'show_device_public' %}
            {% endif %}
            <a href="{{ path(path, {'id': device.id}) }}">
                {{ device.name }}
            </a>
            {% set isVNC = false %}
            {% for networkInterface in device.networkInterfaces %}
                {% if networkInterface.settings is defined %}
                    {% if networkInterface.settings.protocol == "VNC" %}
                        {% set isVNC = true %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            <div class="float-right">
                {%- if not deviceStarted[device.id] -%}
                    <a href="{{ path('start_lab_device', {'labId': lab.id, 'deviceId': device.id}) }}" class="btn btn-success" role="button" title="Start device" data-toggle="tooltip" data-placement="top">
                        {{ svg('play') }}
                    </a>
                {%- endif -%}

                {% if isVNC and deviceStarted[device.id] %}
                    <a href="{{ path('view_lab_device', {'id': lab.id, 'deviceId': device.id}) }}" class="btn btn-primary" role="button" title="View console" data-toggle="tooltip" data-placement="top">
                        {{ svg('eye') }}
                    </a>
                {% endif %}

                {%- if deviceStarted[device.id] -%}
                    <a href="{{ path('stop_lab_device', {'labId': lab.id, 'deviceId': device.id}) }}" class="btn btn-danger" role="button" title="Stop device" data-toggle="tooltip" data-placement="top">
                        {{ svg('stop') }}
                    </a>
                {%- endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col">
        <h3>Related activities</h3>
        <hr>

        {% for activity in lab.activities %}
        <div class="wrapper align-items-center py-4 {% if not loop.last %}border-bottom{% endif %}">
            <a href="{{ path('show_activity', {'id': activity.id}) }}">
                {{- activity.name -}}
            </a> (#{{ activity.id }})
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# {{ encore_entry_script_tags('lab') }} #}
{% endblock %}