{% extends 'lab/index.html.twig' %}

{% block breadcrumbs %}
    {%- set breadcrumbs = breadcrumbs|merge({ ("!" ~ lab.id): path('show_lab', {'id': lab.id}) }) -%}
    {{ parent() }}
{% endblock %}

{% block wrapper %}
<div class="content-title">
    <div class="content-title-infos">
        {% set labInstanced = lab.getInstances()|length > 0 %}
        <label class="mr-1 badge badge-{% if labInstanced %}success{% else %}danger{% endif %}">
            {%- if labInstanced %}
                {{ 'Has instances'|trans }}
            {% else %}
                {{ 'No instance'|trans }}
            {% endif -%}
        </label>
        Created <span class="timeago" datetime="{{ lab.createdAt|date('m/d/Y H:i:s') }}" data-toggle="tooltip" data-placement="bottom" title="{{ lab.createdAt|date('M d, Y h:ia') }}"></span> by <img src="/users/{{lab.author.id}}/picture?size=24&hash=author" class="rounded-circle ml-1 mr-1 d-inline-block" /> <strong>{{lab.author.name}}</strong>
    </div>
    <div class="content-title-actions">
        {% if labInstance is empty %} 
            {% if is_granted("ROLE_ADMINISTRATOR") or is_granted("ROLE_TEACHER") %}
                <a href="{{ path('edit_lab', {'id': lab.id}) }}" class="btn btn-secondary" role="button"><i class="fa fa-edit"></i> 
                    {{ 'Edit'|trans }}
                </a>
                {# <a href="{{ path('delete_lab', {'id': lab.id}) }}" class="btn btn-danger" role="button">
                    {{ 'Delete'|trans }}
                </a> #}
            {% endif %}
        {% endif %}

        {% if (is_granted("ROLE_ADMINISTRATOR") or lab.author == app.user) and labInstance is null %}
            <a href="{{ path('delete_lab', {'id': lab.id}) }}" class="btn btn-danger" role="button">{{ 'Delete'|trans }}</a>
        {% endif %}
    </div>
</div>
<div class="content-body">
    <h1 class="mb-4">{{ lab.name }}</h1>

    <div class="row">
        <div class="col">{{ react_component('InstanceManager', {'props': props}) }}</div>
    </div>
</div>
{% if lab.description is defined %}
    {{ lab.description|markdown }}
{% else %}
    <p class="text-muted">No description</p>
{% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}