{% extends 'lab/index.html.twig' %}

{% block title %}
    {{ lab.name }}: {{ device.name }}
{% endblock %}

{% block breadcrumbs %}
    {%- set breadcrumbs = breadcrumbs|merge({ (device.name): path('show_device', {'id': device.id}) }) -%}
    {%- set breadcrumbs = breadcrumbs|merge({ (lab.name): path('show_lab', {'id': lab.id}) }) -%}
    {{ parent() }}
{% endblock %}

{% block wrapper_xl %}
<div class="content-title">
    <div class="content-title-infos">
        <h1>{{ device.name }}</h1>
    </div>
    <div class="content-title-actions">
        {% if ((type_control_access != "login") and (type_control_access != "serial")) %}
        <button class="btn btn-primary" id="openFullscreenButton">
            {{ svg('external-link') }}
        </button>
        {% endif %}
    </div>
</div>
<div class="content-body">
    <div class="alert alert-info mt-2" role="alert">
        Gateway : <strong>{{ deviceInstance.getLabInstance().getNetwork().getLastAddress() }}</strong>
        <br>
        Attributed network your laboratory : <strong>{{ deviceInstance.getLabInstance().getNetwork() }}</strong>
    </div>
    {#{{dump(deviceInstance)}}#}
    {% if ((type_control_access == "login") or (type_control_access == "serial")) %}
    <div class="card stretch-card">
        <div class="card-body">
            <div class="row mb-2">
                <div class="col">
                    <button class="btn btn-default"><a href="{{ssl}}://{{host}}:{{port}}/device/{{deviceInstance.uuid}}/" target="_blank">Open terminal</a></button>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        
    <div class="card stretch-card">
        <div class="card-body">
            <div class="row mb-2">
                <div class="col">
                    <button class="btn btn-primary" id="ReconnectButton" disabled>Reconnect</button>
                    <button class="btn btn-default" id="CtrlAltDelButton">Send CTRL+ALT+DEL</button>
                </div>
            </div>
            <div id="noVNCScreen" style="height:768px;"></div>
            <div class="row">
                <div class="js-user-rating" data-protocol="{{protocol}}" data-host="{{host}}" data-port="{{port}}" data-path="{{path}}"></div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('vnc') }}
{% endblock %}