{% extends 'AppBundle::accueil_auth.html.twig' %}

{% block body %}
	
	<div class="row">
            <div class="col-md-12">
			<div class="x_panel">
				<div class="x_content">
                {% if app.session.flashBag.has('notice') %}
					{% for flash_message in app.session.flashbag.get('notice') %}
						<div class="label label-success">	
							{{ flash_message }}
						</div>
					{% endfor %}
				{% endif %}
				
				{% if app.session.flashBag.has('danger') %}
					{% for flash_message in app.session.flashbag.get('danger') %}
						<span class="label label-danger">	
							{{ flash_message }}
						</span>
					{% endfor %}
				{% endif %}
				</div>
               
			</div>
			</div>
	</div>
	
	<div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
						<h2>TP {{tp_array['lab_name']}} 
						{% if group.nom != 'Enseignant' %}
						{% if tp_array['tp_managed'] %} - TP controlé par votre enseignant.{%endif%}{%endif%}</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
					
					
					{% if (tp_array['tp_managed'] and group.nom == 'Enseignant') %}
					<div class="col-md-6 col-sm-6 col-xs-12">Arrêter votre laboratoire virtuel</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<a href="{{path('stopLab',{'tp_id': tp_array.tp_id})}}"><button class="btn btn-danger">Stop</button></a>
					</div>

					<div class="col-md-6 col-sm-6 col-xs-12">Connexion à Internet</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<a href="{{path('addnet',{'tp_id': tp_array.tp_id})}}"><button class="btn btn-success">Connect</button></a>
					</div>				
					
					<div class="col-md-6 col-sm-6 col-xs-12">Déconnexion d'Internet</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<a href="{{path('delnet',{'tp_id': tp_array.tp_id})}}"><button class="btn btn-danger">Deconnexion</button></a>
					</div>					
					{% endif %}
					
						{% for device in tp_array['devices'] %}
							{% if device.type != 'Switch' %}
								<div class="col-md-6 col-sm-6 col-xs-12">Redémarage du device {{device.nom_brute}}</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<a href="{{path('rebootVM',{'tp_id': tp_array.tp_id, 'name': device.nom})}}"><button class="btn btn-warning">Reboot</button></a>
							
								{% if (tp_array['tp_access'] == "vpn") %}
									<a href="{{path('view_vm_access',{'device_id':device.id})}}" target="_blank"><button class="btn btn-success">View configuration</button></a>
								{%endif%}
								{% if (tp_array['tp_managed'] and user.role.nom == "Enseignant") %}
									<a href="{{path('view_vm',{'device_id':device.id,'protocol':device.protocol,'port':device.port})}}" target="_blank"><button class="btn btn-success">Connection</button></a>						
								{% endif %}				
								</div>
							{% endif %}
							{% if device.type == 'Switch' %}
							<div class="col-md-6 col-sm-6 col-xs-12">Routeur par default {{device.nom_brute}}</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<a href="{{path('view_vm_access',{'device_id':device.id})}}" target="_blank"><button class="btn btn-success">View configuration</button></a>
							</div>
							{% endif %}
							
						{% endfor %}
						{% if (tp_array['tp_access'] == "vpn") %}
						<div class="col-md-6 col-sm-6 col-xs-12">Configuration VPN du client</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<a href="{{path('get_vpn_client_config')}}" target="_blank"><button class="btn btn-success">Get configuration</button></a>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
	</div>
	<div class="row">
			<div class="col-md-12">
                <div class="x_panel">
					<div class="x_title">
						<h2>Sujet de la séance</h2>
                        <div class="clearfix"></div>
					</div>
					<div class="x_content">
						{% include "/home/www-data/remotelabzv2/app/Resources/views/TP/Ping2VM.html" %}
					</div>
				</div>
			</div>
	</div>

{% endblock%}

{% block javascripts %}
	{% if (tp_array['tp_access'] == "web") %}
				<script>
 				/*jslint white: false */
				/*global window, $, Util, RFB, */
				"use strict";
				{% for device in tp_array['devices'] %}
					{% if device.type != 'Switch' %}
						window.open("{{path('view_vm',{'device_id':device.id,'protocol':device.protocol,'port':device.port})}}", "{{user}}VM{{loop.index}}", "location=0,menubar=1,directories=1,scrollbars=1,status=1,toolbar=1,resizable=1,top=10,left=10,width=1100,height=820");
					{% endif %}
				{% endfor %}
				</script>
	{%endif%}
{% endblock %}