{% extends 'connexion/index.html.twig' %}

{% block breadcrumbs %}
    {%- set breadcrumbs = breadcrumbs|merge({ (connexion.name): path('show_connexion', {'id': connexion.id}) }) -%}
    {{ parent() }}
{% endblock %}

{% block wrapper %}
<div class="row">
    <div class="col grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    {{ connexion.name }}
                    <div class="float-right">
                        <a href="{{ path('edit_connexion', {'id': connexion.id}) }}" class="btn btn-secondary" role="button"><i
                        class="far fa-edit"></i> {{ 'Edit'|trans }}</a>
                    </div>
                </h4>
                {{ dump(connexion|cast_to_array)}}
                {# {% for key, value in connexion|cast_to_array %}
                    <p>{{ key }} : {{ value }}</p>
                    <hr>
                {% endfor %} #}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# {{ encore_entry_script_tags('connexion') }} #}
{% endblock %}