<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Réaliser vos travaux pratiques en ligne">
		<meta name="author" content="O. Flauzac, F. Nolot">
        <title>{% block title %}La Valise{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
		
		<link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">
		<link href="{{asset('css/animate.min.css')}}" rel="stylesheet">
		<link href="{{asset('fonts/css/font-awesome.min.css')}}" rel="stylesheet">
		
		<link href="{{asset('css/custom.css')}}" rel="stylesheet">
{#		<link href="{{asset('css/icheck/flat/green.css')}}" rel="stylesheet" />
		<link href="{{asset('css/floatexamples.css')}}" rel="stylesheet" type="text/css" />
		#}
		
		<script src="{{asset('js/jquery.min.js')}}"></script>
		<script src="{{asset('js/nprogress.js')}}"></script>
	
			
       <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
	<body class="nav-md">
	
		{% block base%}
		<div class="container body">
			<div class="main_container">
				{% block menu %}{% endblock %}			
				{% block entete %}{% endblock %}
				<div class="right_col" role="main">
				{% block body %}
				
					
				{% endblock %}
					{% block footer %}
					<!-- footer content -->
					<footer>
						<div class="copyright-info">
							<p class="pull-right">Bootstrap Template by <a href="https://colorlib.com">Colorlib</a> - &#9400; 2015-2017 O. Flauzac - F. Nolot
							</p>
						</div>
						<div class="clearfix"></div>
					</footer>
					<!-- /footer content -->
					{% endblock %}
				</div>
			</div>
		</div>
		{%endblock%}
        
		<script src="{{asset('js/bootstrap.min.js')}}"></script>
		
		<!-- gauge js -->
		<script type="text/javascript" src="{{asset('js/gauge/gauge.min.js')}}"></script>
		<!-- chart js -->
		<script type="text/javascript" src="{{asset('js/moment/moment.min.js')}}"></script>
		<script type="text/javascript" src="{{asset('js/chartjs/chart.min.js')}}"></script>
		<!-- bootstrap progress js -->
		<script type="text/javascript" src="{{asset('js/progressbar/bootstrap-progressbar.min.js')}}"></script>
		<script type="text/javascript" src="{{asset('js/nicescroll/jquery.nicescroll.min.js')}}"></script>
		<!-- icheck -->
		<script type="text/javascript" src="{{asset('js/icheck/icheck.min.js')}}"></script>
		<!-- daterangepicker -->
		
		<script type="text/javascript" src="{{asset('js/datepicker/daterangepicker.js')}}"></script>
		
		<script type="text/javascript" src="{{asset('js/custom.js')}}"></script>
		<script>
			NProgress.done();
		</script>
		{% block javascripts %}{% endblock %}
    </body>
</html>
