{% extends 'device/index.html.twig' %}

{% block breadcrumbs %}
{% if virtuality == 1 %}
    {% set breadcrumbs = app.request.uri ends with 'edit' ? breadcrumbs : breadcrumbs|merge({ 'New': path('new_device') }) %}
    {% else %}
    {% set breadcrumbs = app.request.uri ends with 'edit' ? breadcrumbs : breadcrumbs|merge({ 'New': path('new_physical_device') }) %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block wrapper %}
    <div class="content-title">
        <div class="content-title-infos">
            <h1>
                {% if app.request.uri ends with 'edit' %}
                    {{ 'Edit device'|trans }}: {{ data.name }}
                {% else %}
                    {{ 'New device'|trans }}
                {% endif %}
            </h1>
        </div>
        {% if virtuality == 1 %}
        <div class="content-title-actions">
            <a href="{{ path('new_lxc_device') }}" class="btn btn-success">{{ 'New lxc'|trans }}</a>
        </div>
        {% endif %}
    </div>
    <div class="content-body">{{ form(form) }}</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# {{ encore_entry_script_tags('device') }} #}
{% endblock %}