{% extends 'device/index.html.twig' %}

{% block breadcrumbs %}
{%- set breadcrumbs = breadcrumbs|merge({ (device.name): path('show_device', {'id': device.id}) }) -%}
    {{ parent() }}
{% endblock %}

{% block wrapper %}
<div class="row">
    <div class="col grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    {{ device.name }}
                    <div class="float-right">
                        <a href="{{ path('edit_device', {'id': device.id}) }}" class="btn btn-secondary" role="button"><i
                        class="far fa-edit"></i> {{ 'Edit'|trans }}</a>
                    </div>
                </h4>
                <p>Brand : {{ device.brand }}</p>
                <hr>
                <p>Model : {{ device.model }}</p>
                <hr>
                <p>Launch script : {{ device.launchScript }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# {{ encore_entry_script_tags('device') }} #}
{% endblock %}