{% extends 'device/index.html.twig' %}

{% set publicPath = is_granted("ROLE_ADMINISTRATOR") ?: "_public" %}

{% block breadcrumbs %}
    {%- set breadcrumbs = breadcrumbs|merge({ (device.name): path('show_device' ~ publicPath, {'id': device.id}) }) -%}
    {{ parent() }}
{% endblock %}

{% block wrapper %}
<div class="row">
    <div class="col grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    {{ device.name }}
                    {% if is_granted("ROLE_ADMINISTRATOR") %}
                    <div class="float-right">
                        <a href="{{ path('edit_device', {'id': device.id}) }}" class="btn btn-secondary" role="button"><i
                        class="fa fa-edit"></i> {{ 'Edit'|trans }}</a>
                    </div>
                    {% endif %}
                </h4>
                <p>Brand : {{ device.brand }}</p>
                <hr>
                <p>Model : {{ device.model }}</p>
                <hr>
                <p>Flavor : 
                    {# <a href="{{ path('show_flavor', {'id': device.flavor.id}) }}"> #}
                    {{ device.flavor.name }}
                    {# </a> #}
                </p>
                <hr>
                <p>Network interfaces :</p>
                <ul>
                    {% for networkInterface in device.networkInterfaces %}
                        <li>{{ networkInterface.name }} ({{ networkInterface.type }}, {{ networkInterface.settings.protocol }} port {{ networkInterface.settings.port }})</li>
                    {% else %}
                        None
                    {% endfor %}
                </ul>
                <hr>
                <p>Operating system : {{ device.operatingSystem.name }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# {{ encore_entry_script_tags('device') }} #}
{% endblock %}