{% extends 'hypervisor/index.html.twig' %}

{% block breadcrumbs %}
    {% set breadcrumbs = app.request.uri ends with 'edit' ? breadcrumbs : breadcrumbs|merge({ 'New': path('new_hypervisor') }) %}
    {{ parent() }}
{% endblock %}

{%- set edit = app.request.uri ends with 'edit' -%}

{% block wrapper %}
    <div class="content-title">
        <div class="content-title-infos">
            <h1>
                {% if app.request.uri ends with 'edit' %}
                    {{ 'Edit hypervisor'|trans }}: {{ hypervisor.name }}
                {% else %}
                    {{ 'New hypervisor'|trans }}
                {% endif %}
            </h1>
        </div>
    </div>
    <div class="content-body">
        {{ form(hypervisorForm) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}