{% extends 'AppBundle::accueil_auth.html.twig' %}

{% block body %}
    <div id="page-wrapper">
    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('danger') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Ajout d'un Tp</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="row">
                    <div class="col-sm-10">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Ajouter une interface de controle</div>
                            <div class="panel-body">

                                <div class="x_content">
                                    <!-- content starts here -->
                                    {{ form_start(InterfaceControleform, {'attr': {'class': 'form-horizontal'}}) }}
                                    {# Les erreurs générales du formulaire. #}
                                    {{ form_errors(InterfaceControleform) }}
                                    <div class="form-group">
                                        {# Génération du label. #}
                                        {{ form_label(InterfaceControleform.nomInterface, "Nom de l'nterface", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                        {# Affichage des erreurs pour ce champ précis. #}
                                        {{ form_errors(InterfaceControleform.nomInterface) }}

                                        <div class="col-sm-2">
                                            {# Génération de l'input. #}
                                            {{ form_widget(InterfaceControleform.nomInterface, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {# Génération du label. #}
                                        {{ form_label(InterfaceControleform.configreseau.iP, "Adresse IP", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                        {# Affichage des erreurs pour ce champ précis. #}
                                        {{ form_errors(InterfaceControleform.configreseau.iP) }}

                                        <div class="col-sm-2">
                                            {# Génération de l'input. #}
                                            {{ form_widget(InterfaceControleform.configreseau.iP, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        {# Génération du label. #}
                                        {{ form_label(InterfaceControleform.configreseau.iPv6, 'Adresse IPv6', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                        {# Affichage des erreurs pour ce champ précis. #}
                                        {{ form_errors(InterfaceControleform.configreseau.iPv6) }}

                                        <div class="col-sm-2">
                                            {# Génération de l'input. #}
                                            {{ form_widget(InterfaceControleform.configreseau.iPv6, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {# Génération du label. #}
                                        {{ form_label(InterfaceControleform.configreseau.iPDNS, "DNS", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                        {# Affichage des erreurs pour ce champ précis. #}
                                        {{ form_errors(InterfaceControleform.configreseau.iPDNS) }}

                                        <div class="col-sm-2">
                                            {# Génération de l'input. #}
                                            {{ form_widget(InterfaceControleform.configreseau.iPDNS, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {# Génération du label. #}
                                        {{ form_label(InterfaceControleform.configreseau.iPGateway, "Passerelle par défaut", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                        {# Affichage des erreurs pour ce champ précis. #}
                                        {{ form_errors(InterfaceControleform.configreseau.iPGateway) }}

                                        <div class="col-sm-2">
                                            {# Génération de l'input. #}
                                            {{ form_widget(InterfaceControleform.configreseau.iPGateway, {'attr': {'class': 'form-control'}}) }}
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        {# Génération du label. #}
                                        {{ form_label(InterfaceControleform.configreseau.masque, "Masque de sous-réseau", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                        {# Affichage des erreurs pour ce champ précis. #}
                                        {{ form_errors(InterfaceControleform.configreseau.masque) }}

                                        <div class="col-sm-2">
                                            {# Génération de l'input. #}
                                            {{ form_widget(InterfaceControleform.configreseau.masque, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {# Génération du label. #}
                                        {{ form_label(InterfaceControleform.configreseau.protocole, "Protocole", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                        {# Affichage des erreurs pour ce champ précis. #}
                                        {{ form_errors(InterfaceControleform.configreseau.protocole) }}

                                        <div class="col-sm-2">
                                            {# Génération de l'input. #}
                                            {{ form_widget(InterfaceControleform.configreseau.protocole, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>

                                    {{ form_widget(InterfaceControleform.save, {'attr': {'class': 'btn btn-primary'}}) }}

                                    {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}


                                    {# Génération automatique des champs pas encore écrits.
                                        Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
                                        et tous les champs cachés (type « hidden »). #}

                                    {{ form_rest(InterfaceControleform) }}

                                    {# Fermeture de la balise <form> du formulaire HTML #}
                                    {{ form_end(InterfaceControleform) }}
                                    <!-- content ends here -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                  <div class="col-sm-10">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Ajouter des interfaces</div>
                        <div class="panel-body">

                            <div class="x_content">
                                <!-- content starts here -->
                                {{ form_start(Interfacesform, {'attr': {'class': 'form-horizontal'}}) }}
                                {# Les erreurs générales du formulaire. #}
                                {{ form_errors(Interfacesform) }}
                                <div class="form-group">
                                    {# Génération du label. #}
                                    {{ form_label(Interfacesform.nomInterface, "Nom de l'nterface", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                    {# Affichage des erreurs pour ce champ précis. #}
                                    {{ form_errors(Interfacesform.nomInterface) }}

                                    <div class="col-sm-2">
                                        {# Génération de l'input. #}
                                        {{ form_widget(Interfacesform.nomInterface, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>

                                {{ form_widget(Interfacesform.save, {'attr': {'class': 'btn btn-primary'}}) }}

                                {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}


                                {# Génération automatique des champs pas encore écrits.
                                    Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
                                    et tous les champs cachés (type « hidden »). #}

                                {{ form_rest(Interfacesform) }}

                                {# Fermeture de la balise <form> du formulaire HTML #}
                                {{ form_end(Interfacesform) }}
                                <!-- content ends here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>





{% endblock %}