{% extends 'AppBundle::accueil_auth.html.twig' %}
{% block stylesheets %}
<link href="{{asset('js/datatables/jquery.dataTables.min.css')}}" rel="stylesheet">
<link href="{{asset('js/datatables/buttons.bootstrap.min.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
	<div id="page-wrapper">
            {% for flash_message in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flash_message }}
    </div>
	{% endfor %}
	    {% for flash_message in app.session.flashbag.get('danger') %}
			<div class="flash-notice">
				{{ flash_message }}
			</div>
		{% endfor %}

	<div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Liste des utilisateurs</h2>
                        
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!-- content starts here -->
					<table id="datatable-buttons" class="table table-striped table-bordered dataTable no-footer" width="100%" >
						<thead>
						<tr>
							<th class="sorting" >Nom</th>
							<th>Prénom</th>
							<th>Mail</th>
							<th>Username</th>
							<th>Compte actif ?</th>
						</tr>
                    </thead>
					<tfoot>
						<tr role="row">
							<th>Nom</th>
							<th>Prénom</th>
							<th>Mail</th>
							<th>Username</th>
							<th>Compte actif ?</th>
						</tr>
                    </tfoot>
				    <tbody>
				{% for user in list_user %}
				<tr class="{% if loop.index is odd %}odd{%else%}even{%endif%}" role="row">
					<td class="sorting_1" tabindex="0">{{ user.lastname }}</td>
					<td>{{ user.firstname }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.username }}</td>
					<td>{{user.enabled}}</td>
				</tr>
				{% endfor %}
				</tbody>
				</table>
                        <!-- content ends here -->
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
{% block javascripts %}
  <!-- Datatables-->
        <script src="{{asset('js/datatables/jquery.dataTables.min.js')}}"></script>
        <script src="{{asset('js/datatables/dataTables.buttons.min.js')}}"></script>
		<script src="{{asset('js/datatables/buttons.bootstrap.min.js')}}"></script>
		<script src="{{asset('js/datatables/jquery.dataTables.min.js')}}"></script>
        <script src="{{asset('js/datatables/dataTables.bootstrap.js')}}"></script>
        <script src="{{asset('js/datatables/dataTables.buttons.min.js')}}"></script>
        <script src="{{asset('js/datatables/buttons.bootstrap.min.js')}}"></script>
        <script src="{{asset('js/datatables/jszip.min.js')}}"></script>
        <script src="{{asset('js/datatables/pdfmake.min.js')}}"></script>
        <script src="{{asset('js/datatables/vfs_fonts.js')}}"></script>
        <script src="{{asset('js/datatables/buttons.html5.min.js')}}"></script>
        <script src="{{asset('js/datatables/buttons.print.min.js')}}"></script>
        <script src="{{asset('js/datatables/dataTables.fixedHeader.min.js')}}"></script>
        <script src="{{asset('js/datatables/dataTables.keyTable.min.js')}}"></script>
        <script src="{{asset('js/datatables/dataTables.responsive.min.js')}}"></script>
        <script src="{{asset('js/datatables/responsive.bootstrap.min.js')}}"></script>
        <script src="{{asset('js/datatables/dataTables.scroller.min.js')}}"></script>
		
		
		
		
		
        <script>
          var handleDataTableButtons = function() {
              "use strict";
              0 !== $("#datatable-buttons").length && $("#datatable-buttons").DataTable({
                dom: "Bfrtip",
				
                buttons: [{
                  extend: "copy",
                  className: "btn-sm"
                }, {
                  extend: "csv",
                  className: "btn-sm"
                }, {
                  extend: "excel",
                  className: "btn-sm"
                }, {
                  extend: "pdf",
                  className: "btn-sm"
                }, {
                  extend: "print",
                  className: "btn-sm"
                }],
                responsive: !0
              })
            },
            TableManageButtons = function() {
              "use strict";
              return {
                init: function() {
                  handleDataTableButtons()
                }
              }
            }();
   
        $(document).ready(function() {
			$('#datatable').DataTable( {
				"order": [[ 3, "asc" ]],
			} );

			TableManageButtons.init();
		} );
        
        </script>
{% endblock %}