{% extends 'dashboard.base.html.twig' %}

{% block breadcrumbs %}
    {%- set breadcrumbs = breadcrumbs|merge({ 'Activities': path('activities') }) -%}
    {{ parent() }}
{% endblock %}

{% block sidebar %}
    {% set category = 'activities' %}
    {{ parent() }}
{% endblock %}

{% block wrapper %}
    <div class="top-panel">
        <div class="quick-actions">
            {% if is_granted('ROLE_ADMINISTRATOR') %}
                <a class="btn btn-success btn-block" role="button" href="{{
                path('new_activity') }}">{{ 'New Activity'|trans }}</a>
            {% endif %}
        </div>
        <ul class="nav-links nav nav-tabs">
            {# <li><a href="#"><span>Started</span> <span class="badge badge-pill">0</span></a></li>
            <li><a href="#"><span>Stopped</span> <span class="badge badge-pill">0</span></a></li> #}
            <li class="active">
                <a href="#">
                    <span>All</span> <span class="badge badge-pill">{{ activities|length }}</span>
                </a>
            </li>
        </ul>
    </div>
    {# <div class="search-panel">
        <form action="{{ path('activities') }}" method="GET">
            <input type="search" class="form-control input-sm" name="search"
            placeholder="Search by name"
            spellcheck="false" value="{{ search|default('') }}" type="search">
        </form>
    </div> #}
    <div class="labs-panel">
    {% for activity in activities %}
        <div class="wrapper d-flex align-items-center p-3 {% if not loop.last %}border-bottom{% endif %} lab-item">
            <div class="lab-item-left d-flex flex-column">
                <div>
                    <a href="{{ path('show_activity', {'id': activity.id}) }}" class="lab-item-name">
                        {{- activity.name -}}
                    </a>
                </div>
                <div class="lab-item-infos text-muted">
                    #{{ activity.id }} · created
                    <span class="timeago" datetime="{{ activity.createdAt|date('m/d/Y H:i:s') }}" data-toggle="tooltip" data-placement="bottom" title="{{ activity.createdAt|date('M d, Y h:ia') }}"></span>
                    by
                    <a href="{{ path('activities', app.request.query|merge({author: activity.author.id})) }}" data-toggle="tooltip" data-placement="top" title="See all activites by {{activity.author.name}}">
                        <img src="/users/{{activity.author.id}}/picture?size=17" alt="{{activity.author.name}}" class="rounded-circle v-bottom" />
                        <span class="lab-item-author" >{{ activity.author.name }}</span>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %} 
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# {{ encore_entry_script_tags('activity') }} #}
{% endblock %}