{% extends 'activity/index.html.twig' %}

{% block breadcrumbs %}
    {% set breadcrumbs = app.request.uri ends with 'edit' ? breadcrumbs : breadcrumbs|merge({ 'New': path('new_activity') }) %}
    {{ parent() }}
{% endblock %}

{%- set edit = app.request.uri ends with 'edit' -%}

{% block wrapper %}
    <div class="content-title">
        <div class="content-title-infos">
            <h1>
                {% if app.request.uri ends with 'edit' %}
                    {{ 'Edit activity'|trans }}: {{ activity.name }}
                {% else %}
                    {{ 'New activity'|trans }}
                {% endif %}
            </h1>
        </div>
    </div>
    <div class="content-body">
        {{ form_start(activityForm) }}
            {{ form_errors(activityForm) }}

            {{ form_row(activityForm.name) }}
            {{ form_row(activityForm.description) }}
            {{ form_row(activityForm.lab) }}
            {{ form_row(activityForm.internetAllowed) }}
            {{ form_row(activityForm.interconnected) }}

            <div class="form-group row">
                <legend class="col-sm-2 col-form-label required text-right">Group</legend>
                <div class="col-sm-10">
                    {{- react_component('GroupSelect', {props: {"fieldName": "activity[_group]"}}) -}}
                </div>
            </div>
        {{ form_end(activityForm) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('activity') }}
{% endblock %}