{% extends 'activity/index.html.twig' %}

{% block breadcrumbs %}
    {%- set breadcrumbs = breadcrumbs|merge({ (activity.name): path('show_activity', {'id': activity.id}) }) -%}
    {{ parent() }}
{% endblock %}

{% block wrapper %}
<div class="row">
    <div class="col grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">
                    {{ activity.name }}
                    <div class="float-right">
                    {% if activity.lab is not null %}
                            {% set lab_on=false %}  
                            {% if labInstance is null %}
                                <a href="{{ path('start_activity', {'id': activity.id}) }}" class="btn btn-primary">Start activity</a>
                            {% else %}
                                Activity already started - 
                                <a href="{{ path('show_lab', {'id': activity.lab.id}) }}" class="btn btn-default">Go to Lab</a>
                                {% set lab_on=true %}                      
                            {% endif %}
                        {% if  is_granted("ROLE_TEACHER") and not lab_on %}
                            <a href="{{ path('show_lab', {'id': activity.lab.id}) }}" class="btn btn-default">Go to Lab</a>                      
                        {% endif %}
                    {% endif %}
                    {% if is_granted("ROLE_ADMINISTRATOR") %}
                        <a href="{{ path('edit_activity', {'id': activity.id}) }}" class="btn btn-secondary" role="button"><i class="fa fa-edit"></i> {{ 'Edit'|trans }}</a>
                        <a href="{{ path('delete_activity', {'id': activity.id}) }}" class="btn btn-danger" role="button">Delete</a>
                    {% endif %}
                    </div>
                </h1>
                {{ activity.description|markdown }}
            </div>
        </div>
    </div>
</div>
               {# {{dump(activity,labInstance)}} #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('activity') }}
{% endblock %}