{% extends 'dashboard.base.html.twig' %}

{% block breadcrumbs %}
    {%- set breadcrumbs = breadcrumbs|merge({ 'Instances': path('instances') }) -%}
    {{ parent() }}
{% endblock %}

{% block wrapper %}
    <div class="top-panel">
            <div class="quick-actions">
                {% if is_granted('ROLE_ADMINISTRATOR') %}
                {% endif %}
            </div>
        <ul class="nav-links nav nav-tabs">
            <li class="active"><a href="#"><span>Started</span> <span class="badge badge-pill">0</span></a></li>
            <li><a href="#"><span>Stopped</span> <span class="badge badge-pill">0</span></a></li>
            <li><a href="#"><span>All</span> <span class="badge badge-pill">0</span></a></li>
        </ul>
    </div>
    <div class="search-panel">
        <form action="{{ path('instances') }}" method="GET">
            <input type="search" class="form-control input-sm" name="search"
            placeholder="Search by name"
            spellcheck="false" value="{{ search|default('') }}" type="search">
        </form>
    </div>
    <div class="labs-panel">

        {#- Lab instances -#}

        <h4 class="p-3 border-bottom">Lab instances</h4>
        {% if labInstances is empty %}
        <div class="wrapper align-items-center p-3 border-bottom lab-item">
            <span class="lab-item-name">
                None
            </span>
        </div>
        {% endif %}
        {% for instance in labInstances %}
        <div class="wrapper align-items-center p-3 {% if not loop.last %}border-bottom{% endif %} lab-item">
            <div class="float-right">
                <a href="{{ path('delete_instance', {'id': instance.id, 'type': 'lab'}) }}" class="btn btn-danger" role="button" title="Delete instance" data-toggle="tooltip" data-placement="top">
                        {{ svg('close') }}
                </a>
            </div>

            <div>
                <div>
                    <a href="{{- path('show_lab', {'id': instance.lab.id}) -}}" class="lab-item-name">
                        {{- instance.uuid -}}
                    </a>
                </div>
                <span>
                    {% if instance.isStarted %}
                        <label class="badge badge-success">Started</label>
                    {% else %}
                        <label class="badge badge-danger">Not started</label>
                    {% endif %}
                </span>
                <p style="display:inline;">
                    路
                    Owned by {{ instance.user.name }}
                </p>
            </div>
        </div>
        {% endfor %}

        {#- Devices instances -#}

        <h4 class="p-3 border-bottom">Device instances</h4>
        {% if deviceInstances is empty %}
        <div class="wrapper align-items-center p-3 border-bottom lab-item">
            <span class="lab-item-name">
                None
            </span>
        </div>
        {% endif %}
        {% for instance in deviceInstances %}
        <div class="wrapper align-items-center p-3 {% if not loop.last %}border-bottom{% endif %} lab-item">
            <div class="float-right">
                <a href="{{ path('delete_instance', {'id': instance.id, 'type': 'device'}) }}" class="btn btn-danger" role="button" title="Delete instance" data-toggle="tooltip" data-placement="top">
                        {{ svg('close') }}
                </a>
            </div>

            <div>
                <div>
                    <a href="{{- path('show_device', {'id': instance.device.id}) -}}" class="lab-item-name">
                        {{- instance.uuid -}}
                    </a>
                </div>
                <span>
                    {% if instance.isStarted %}
                        <label class="badge badge-success">Started</label>
                    {% else %}
                        <label class="badge badge-danger">Not started</label>
                    {% endif %}
                </span>
                <p style="display:inline;">
                    路
                    Owned by {{ instance.user.name }}
                </p>
            </div>
        </div>
        {% endfor %}

        
        {#- Network interface instances -#}

        <h4 class="p-3 border-bottom">Network interface instances</h4>
        {% if networkInterfaceInstances is empty %}
        <div class="wrapper align-items-center p-3 border-bottom lab-item">
            <span class="lab-item-name">
                None
            </span>
        </div>
        {% endif %}
        {% for instance in networkInterfaceInstances %}
        <div class="wrapper align-items-center p-3 {% if not loop.last %}border-bottom{% endif %} lab-item">
            <div class="float-right">
                <a href="{{ path('delete_instance', {'id': instance.id, 'type': 'network-interface'}) }}" class="btn btn-danger" role="button" title="Delete instance" data-toggle="tooltip" data-placement="top">
                        {{ svg('close') }}
                </a>
            </div>

            <div>
                <div>
                    <a href="{{- path('network_interfaces', {'id': instance.networkInterface.id}) -}}" class="lab-item-name">
                        {{- instance.uuid -}}
                    </a>
                </div>
                <span>
                    {% if instance.isStarted %}
                        <label class="badge badge-success">Started</label>
                    {% else %}
                        <label class="badge badge-danger">Not started</label>
                    {% endif %}
                </span>
                <p style="display:inline;">
                    路
                    Owned by {{ instance.user.name }}
                    路
                    Port : {{ instance.remotePort }}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}