{% extends 'dashboard.base.html.twig' %}

{% block header %}
    {% set category = 'dashboard_show_group' %}
    {{ parent() }}
{% endblock %}

{% block breadcrumbs %}
    {% set breadcrumbs = breadcrumbs|merge({ 'Details': path('dashboard_show_group', {'slug': group.slug}) }) %}
    {% set breadcrumbs = breadcrumbs|merge({ (group.name): path('dashboard_show_group', {'slug': group.slug}) }) %}
    {{ parent() }}
{% endblock %}

{% macro groupParent(group) %}
    {% if group.parent is not null %}{{ _self.groupParent(group.parent) }} {{ group.parent.name }} /{% endif %}
{% endmacro %}

{% block sidebar %}
    {% include "group.sidebar.html.twig" %}
{% endblock %}

{% block wrapper %}
    {% macro groupParent(group) %}
       {% if group.parent is not null %}{{ _self.groupParent(group.parent) }} <a href="{{ path('dashboard_show_group', {slug: group.parent.path}) }}">{{ group.parent.name }}</a> /{% endif %}
    {% endmacro %}
    <div class="content-title">
        <div class="content-title-infos">
            <h3>{{ _self.groupParent(group) }} {{ group.name }}</h3>
        </div>
        {% if is_granted('edit', group) %}
            <div class="content-title-actions">
                <a href="{{ path('edit_group', {slug: group.path}) }}" class="btn btn-secondary"><i class="far fa-edit"></i> {{ 'Edit'|trans }}</a>
            </div>
        {% endif %}
    </div>
    <div class="content-body">
        <div class="card mb-4">
            <div class="card-header">
                Group info
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="avatar identicon bg-{{ group.id % 8 + 1 }} s60 rounded-lg mr-2">
                        {% if group.pictureFilename is defined and group.pictureFilename %}
                            image
                        {% else %}
                            {{- group.name|firstLetter|upper -}}
                        {% endif %}
                    </div>
                </li>
                <li class="list-group-item">
                    Name: <strong>{{ group.name }}</strong>
                </li>
                <li class="list-group-item">
                    Path: <strong>{{ group.slug }}</strong>
                </li>
                <li class="list-group-item">
                    Description: <strong>{{ group.description }}</strong>
                </li>
                <li class="list-group-item">
                    Visibility level: <strong>{{ group.visibility }}</strong>
                </li>
                <li class="list-group-item">
                    Created on: <strong>{{ group.createdAt|date }}</strong>
                </li>
                <li class="list-group-item">
                    ID: <strong>{{ group.id }}</strong>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}