{% extends 'dashboard.base.html.twig' %}

{% block header %}
    {% set category = 'dashboard_groups' %}
    {{ parent() }}
{% endblock %}

{% block breadcrumbs %}
    {% set currentGroup = group %}
    {% for parent in group.getFullyQualifiedName()|reverse %}
        {% set breadcrumbs = breadcrumbs|merge({ (parent): path('dashboard_show_group', {'slug': currentGroup.getPath()}) }) %}
        {% set currentGroup = currentGroup.parent %}
    {% endfor %}
    {{ parent() }}
{% endblock %}

{% macro groupParent(group) %}
    {% if group.parent is not null %}{{ _self.groupParent(group.parent) }} {{ group.parent.name }} /{% endif %}
{% endmacro %}

{% block sidebar %}
    {% set category = 'dashboard_show_group' %} 
    {% include "group.sidebar.html.twig" %}
{% endblock %}

{% block wrapper %}
    {% macro groupParent(group) %}
       {% if group.parent is not null %}{{ _self.groupParent(group.parent) }} <a href="{{ path('dashboard_show_group', {slug: group.parent.path}) }}">{{ group.parent.name }}</a> /{% endif %}
    {% endmacro %}
    <div class="content-body">
        <div class="row mb-4">
            <div class="col d-flex align-items-center">
                <!-- <div class="avatar identicon bg-{{ group.id % 8 + 1 }} s60 rounded-lg mr-2"> -->
                    {% if group.pictureFilename is defined and group.pictureFilename %}
                        <img src="{{ path('get_group_picture', {slug: group.path, size: 60}) }}" alt="profile-img" class="rounded-lg mr-1" />
                    {% else %}
                        <div class="avatar identicon bg-{{ group.id % 8 + 1 }} s60 rounded-lg mr-2">
                            {{- group.name|firstLetter|upper -}}
                        </div>
                    {% endif %}
                <!-- </div> -->
                <div class="ml-2">
                    <div class="d-flex">
                        <h5 class="font-weight-bold mb-1 mr-2">{{ group.name }}</h5>
                        <span class="text-muted">
                            {% if group.visibility is defined %}
                                {% if group.visibility == '0' %}
                                    <div data-toggle="tooltip" data-placement="bottom" title="Private - The group and its activities can only be viewed by yourself.">
                                        {{ svg('lock') }}
                                    </div>
                                {% elseif group.visibility == '1' %}
                                    <div data-toggle="tooltip" data-placement="bottom" title="Internal - The group and any internal activities can be viewed by members.">
                                        {{ svg('shield') }}
                                    </div>
                                {% elseif group.visibility == '2' %}
                                    <div data-toggle="tooltip" data-placement="bottom" title="Public - The group and any internal projects can be viewed by any logged in user.">
                                        {{ svg('earth') }}
                                    </div>
                                {% endif %}
                            {% endif %}
                        </span>
                    </div>
                    
                    <div class="text-muted">Group ID: {{group.id}}</div>
                </div>
            </div>
            <div class="col d-flex justify-content-end align-items-center">
                <div>
                    {% set userRole = group.getUserRole(app.user) %}
                    {% if userRole is not null and (userRole == 'admin' or userRole == 'owner') %}
                    {#{% if userRole is not null %}#}
                        <a href="{{ path('new_group', {parent_id: group.id}) }}" class="btn btn-success">New subgroup</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="top-panel">
            <ul class="nav-links nav nav-tabs" id="tab" role="tablist">
                <li class="nav-item">
                    <a class="active" href="#subs" id="subs-tab" data-toggle="tab" role="tab" aria-controls="subs" aria-selected="true">
                        <span>Subgroups</span> <span class="badge badge-pill">{{ group.children|length }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="#labs" id="labs-tab" data-toggle="tab" role="tab" aria-controls="labs" aria-selected="false">
                        <span>Labs</span> <span class="badge badge-pill">{{ group.labs|length }}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="labs-panel" id="tabContent">
            <div class="tab-pane fade show active" id="subs" role="tabpanel" aria-labelledby="subs-tab">
                {% if group.children|length == 0 %}
                    <div class="w-100 d-flex justify-content-center py-4">
                        None
                    </div>
                {% else %}
                    {{- react_component('GroupExplorer', {'props': {"path": group.path, "user": app.user.email, 'trace': true}}) -}}
                {% endif %}
            </div>
            <div class="tab-pane fade" id="labs" role="tabpanel" aria-labelledby="labs-tab">
                <div class="grid-xs-1 grid-sm-1 grid-md-1 grid-lg-2 grid-xl-3 grid-xxl-3">
                    {% for lab in group.labs %}
                    <div class="card m-4">
                        {% if lab.banner is not null %}
                        <img src="{{ path('get_lab_banner', {'id': lab.id}) }}" class="card-img-top" alt="Banner">
                        {% endif %}
                        <div class="card-body d-flex flex-column">
                           <h6 class="card-subtitle mb-2 text-muted">{{ _self.groupParent(group) }}<a href="{{ path('dashboard_show_group', {'slug': group.path}) }}">{{ group.name }}</a>
                                {% if _self.groupParent(group) is null %}
                                    /
                                {% endif %}
                            </h6>
                            <h4 class="card-title"><a href="{{ path('show_lab', {'id': lab.id}) }}">{{ lab.name }}</a></h4>
                            <p class="card-text flex-grow-1">
                                {%- if lab.shortDescription is not null -%}
                                {{- lab.shortDescription -}}
                                {%- else -%}
                                    No description
                                {%- endif -%}
                            </p>
                            <span class="text-muted">Created by <img src="/users/{{lab.author.id}}/picture?size=17" alt="{{lab.author.name}}" class="rounded-circle v-bottom" /> {{ lab.author.name }}</span>
                            <!-- <a href="{{ path('show_lab', {'id': lab.id}) }}" class="btn btn-primary lab-display-more">Go to lab</a> -->
                        </div>
                        <div class="card-footer text-muted">
                            Last updated <span class="timeago" datetime="{{ lab.lastUpdated|date('m/d/Y H:i:s') }}" data-toggle="tooltip" data-placement="bottom" title="{{ lab.lastUpdated|date('M d, Y h:ia') }}"></span>
                        </div>
                    </div>
                    {% endfor %} 
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('timeago') }}
{% endblock %}