{% extends 'dashboard.base.html.twig' %}

{% block header %}
    {% set category = 'dashboard_show_group' %}
    {{ parent() }}
{% endblock %}

{% block breadcrumbs %}
    {% set breadcrumbs = breadcrumbs|merge({ 'Details': path('dashboard_show_group', {'slug': group.slug}) }) %}
    {% set breadcrumbs = breadcrumbs|merge({ (group.name): path('dashboard_show_group', {'slug': group.slug}) }) %}
    {{ parent() }}
{% endblock %}

{% macro groupParent(group) %}
    {% if group.parent is not null %}{{ _self.groupParent(group.parent) }} {{ group.parent.name }} /{% endif %}
{% endmacro %}

{% block sidebar %}
    {% include "group.sidebar.html.twig" %}
{% endblock %}

{% block wrapper %}
    {% macro groupParent(group) %}
       {% if group.parent is not null %}{{ _self.groupParent(group.parent) }} <a href="{{ path('admin_show_group', {slug: group.parent.path}) }}">{{ group.parent.name }}</a> /{% endif %}
    {% endmacro %}
    <div class="content-title">
        <div class="content-title-infos">
            <h3>Members</h3>
        </div>
    </div>
    <div class="content-body">
        <div class="row">
            <div class="col">
                {% if is_granted('add_member', group) %}
                    <p>
                        Add new member(s) to <strong>{{group.name}}</strong>
                    </p>
                    <form action="{{ path('add_user_group', {slug: group.path}) }}" method="POST">
                        {{ react_component('UserSelect') }}
                        <hr>
                        <button type="submit" class="btn btn-success">Add selected user(s)</button>
                    </form>
                {% endif %}
                <div class="top-panel">
                    <ul class="nav-links nav nav-tabs">
                        {# <li><a href="#"><span>Started</span> <span class="badge badge-pill">0</span></a></li>
                        <li><a href="#"><span>Stopped</span> <span class="badge badge-pill">0</span></a></li> #}
                        <li class="active">
                            <a href="{{ path('labs') }}">
                                <span>Current</span> <span class="badge badge-pill">{{ group.users|length }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="search-panel">
                    <form action="{{ path('labs') }}" method="GET">
                        <input type="search" class="form-control input-sm" name="search"
                        placeholder="Search by name"
                        spellcheck="false" value="{{ search|default('') }}" type="search">
                    </form>
                </div> -->
                <div class="labs-panel">
                    {% for user in group.users %}
                        <div class="lab-item">
                            <div class="d-flex">
                                <img src="/users/{{user.id}}/picture?size=32" alt="{{user.name}}" class="rounded-circle s40 mr-3" />

                                <div class="d-flex flex-column">
                                    <div class="fw600">
                                        <span class="fw600">{{ user.name }}</span>
                                        {% if user.id == app.user.id %}
                                            <label class="badge badge-success ml-2 mb-0">It's you!</label>
                                        {% endif %}
                                    </div>
                                    <div class="text-muted">{{ user.email }}</div>
                                    {{ group.getUserRole(user) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- <div class="card">
                    <div class="card-header">
                        Group members <span class="badge badge-pill">{{ group.users|length }}</span>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for user in group.users %}
                            <li class="list-group-item">
                                <div class="d-flex">
                                    <img src="/users/{{user.id}}/picture?size=32" alt="{{user.name}}" class="rounded-circle s40 mr-3" />

                                    <div class="d-flex flex-column">
                                        <div class="fw600">
                                            <span class="fw600">{{ user.name }}</span>
                                            {% if user.id == app.user.id %}
                                                <label class="badge badge-success ml-2 mb-0">It's you!</label>
                                            {% endif %}
                                        </div>
                                        <div class="text-muted">{{ user.email }}</div>
                                        {{ group.getUserRole(user) }}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
{% endblock %}