{% extends 'base.html.twig' %}

{% block header %}
<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper">
    <a class="navbar-brand brand-logo" href="#"><img src="{{asset('build/images/logo.svg')}}" alt="logo"></a>
    <a class="navbar-brand brand-logo-mini" href="#"><img src="{{asset('build/images/logo_mini.svg')}}" alt="logo"></a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">
    <p class="page-name d-none d-lg-block">Hi, {{ app.user.firstName }} {{ app.user.lastName }}</p>
    <ul class="navbar-nav ml-lg-auto">
      <li class="nav-item lang-dropdown d-none d-sm-block">
        <a class="nav-link" href="#">
          <p class="mb-0">English <i class="flag-icon flag-icon-gb"></i></p>
        </a>
      </li>
      <li class="nav-item d-none d-sm-block profile-img">
        <a class="nav-link profile-image" href="#">
          <img src="{{ asset('build/images/faces/face1.jpg') }}" alt="profile-img">
          <span class="online-status online bg-success"></span>
        </a>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center ml-auto" type="button" data-toggle="offcanvas">
      <span class="icon-menu icons"></span>
    </button>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="container-fluid page-body-wrapper">
  <div class="row row-offcanvas row-offcanvas-right">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item nav-category">
          <span class="nav-link">ADMINISTRATOR</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('users') }}">
            <span class="menu-title">Users</span>
            <i class="menu-icon fas fa-users fa-fw"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('flavors') }}">
            <span class="menu-title">Flavors</span>
            <i class="menu-icon fas fa-memory fa-fw"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('hypervisors') }}">
            <span class="menu-title">Hypervisors</span>
            <i class="menu-icon fas fa-building fa-fw"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('courses') }}">
            <span class="menu-title">Courses</span>
            <i class="menu-icon fas fa-graduation-cap fa-fw"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('network_settings') }}">
            <span class="menu-title">Network settings</span>
            <i class="menu-icon fas fa-wifi fa-fw"></i>
          </a>
        </li>
      </ul>
    </nav>

    <div class="content-wrapper">
      <div class="row">
        <div class="flashbag-container col-lg-12">
          {% for label, messages in app.flashes %}
          {% for message in messages %}
          <div class="flash-notice alert alert-{{ label }} alert-dismissible fade show">
            <button aria-label="Close" class="close" data-dismiss="alert" type="dismiss">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
          </div>
          {% endfor %}
          {% endfor %}
        </div>
      </div>
      {% block wrapper %}{% endblock %}
    </div>
  </div>
</div>
</div>
{% endblock %}