{% if (is_granted("ROLE_ADMINISTRATOR") or lab.author == user) %}
    <a href="{{ path('create_code_lab', {'id': lab.id}) }}" class="btn btn-success" role="button">{{ 'Codes'|trans }}</a>
    <a href="{{ path('export_lab', {'id': lab.id}) }}" class="btn btn-primary" role="button">{{ svg('download') }} {{ 'Export'|trans }}</a>
{% endif %}

{% if labInstance is empty %} 
    {% if is_granted("ROLE_ADMINISTRATOR") or (is_granted("ROLE_TEACHER") and user.id == lab.author.id) %}
        <a href="{{ path('edit_lab', {'id': lab.id}) }}" class="btn btn-secondary" role="button"><i class="fa fa-edit"></i> 
            {{ 'Edit'|trans }}
        </a>
    {% endif %}
{% endif %}

{% if (is_granted("ROLE_ADMINISTRATOR") or lab.author == user) and labInstance is null %}
    <button class="btn btn-danger" data-target={{'.delete-lab-modal'}} data-toggle="modal" type="button">
        {{ 'Delete'|trans }}
    </button>
{% endif %}