{% import "sidebar.html.twig" as sidebar %}

{% block sidebar %}
    {% set category = category|default('dashboard') %}
    <nav class="sidebar sidebar-offcanvas {% if app.request.cookies.get('sidebar_collapsed') == 'true' %}sidebar-collapsed{%endif%}" id="sidebar">
        {% block sidebar_header %}
            <div class="context-header">
                <a href="{{ path('dashboard_show_group', {slug: group.path}) }}" title="{{ group.name }}">
                    <div class="s40 mr-2 d-flex">
                        {% if group.pictureFilename is defined and group.pictureFilename %}
                            <img src="{{ path('get_group_picture', {slug: group.path, size: 40}) }}" alt="profile-img" class="rounded-lg mr-1" />
                        {% else %}
                            <div class="avatar identicon bg-{{ group.id % 8 + 1 }} s40 rounded-lg">
                                {{- group.name|firstLetter|upper -}}
                            </div>
                        {% endif %}
                    </div>
                    <div class="sidebar-context-title ml-2">{{ group.name }}</div>
                </a>
            </div>
        {% endblock %}

        <ul class="nav">
            {{ sidebar.link("Overview", 'dashboard_show_group', {slug: group.path}, 'home', 'dashboard_show_group', _context) }}
            {{ sidebar.link("Members", 'dashboard_group_members', {slug: group.path}, 'users', 'dashboard_group_members', _context) }}
            {% if (group.isElevatedUser(app.user) or is_granted('ROLE_ADMINISTRATOR'))%}
                {{ sidebar.link("Labs", 'dashboard_add_lab_group', {slug: group.path}, 'monitor', 'dashboard_add_lab_group', _context) }}
                {{ sidebar.link("Settings", 'dashboard_edit_group', {slug: group.path}, 'settings', 'dashboard_edit_group', _context) }}
            {% endif %}
            {% if (group.isElevatedUser(app.user) or is_granted('ROLE_ADMINISTRATOR'))%}
                {{ sidebar.link("Group instances", 'dashboard_group_instances', {slug: group.path}, 'monitor', 'dashboard_group_instances', _context) }}
            {% endif %}
            <div class="nav-item">
            <a class="toggle-sidebar nav-link" role="button" title="Toggle sidebar" type="button">
                <span class="toggle-sidebar-hide">{{ svg('angle-double-left') }}Collapse sidebar</span>
                <span class="toggle-sidebar-show">{{ svg('angle-double-right') }}</span>
            </a>
            </div>
        </ul>
    </nav>
{% endblock %}