{% macro header(link, icon) %}
    <a href="{{ path(link) }}" title="Admin Area">
        <div class="s40 mr-2 d-flex">
            {%- if icon is not null -%}
                {{ svg(icon, 's24 m-auto') }}
            {%- endif -%}
        </div>
        <div class="sidebar-context-title">Admin Area</div>
    </a>
{% endmacro %}

{% macro contextual_header(title, link, image) %}
    <a href="{{ path(link) }}" title="{{ title }}">
        <div class="s40 mr-2 d-flex">
            {% if image is defined %}
                {{ image }}
            {% endif %}
        </div>
        <div class="sidebar-context-title">{{ title }}</div>
    </a>
{% endmacro %}

{% macro link(name, link, params, icon, c, variables) %}
    {% if params == null %}{% set params = {} %}{% endif %}
    
    <li class="nav-item {% if c == variables.category %}active{%endif%}">
        <a class="nav-link d-flex align-items-center" href="{{ path(link, params) }}">
            {%- if icon is not null -%}
                {{- svg(icon, 'image-sm') -}}
            {%- endif -%}
        <span class="menu-title"> {{name}}</span>
        </a>
    </li>
{% endmacro %}

{% block sidebar %}
    {% set category = category|default('dashboard') %}
    <nav class="sidebar sidebar-offcanvas {% if app.request.cookies.get('sidebar_collapsed') == 'true' %}sidebar-collapsed{%endif%}" id="sidebar">
        <ul class="nav">
            {{ _self.link("Dashboard", 'labs', null, 'home', 'dashboard', _context) }}
            {# {{ _self.link("Activities", 'activities', null, 'review-list', 'activities', _context) }} #}
            {# {{ _self.link("Labs", 'labs', null, 'applications', 'labs', _context) }} #}
            {% if is_granted('ROLE_TEACHER_EDITOR') %}
            {{ _self.link("Device Template", 'devices', null, 'document', 'devices', _context) }} 
            {{ _self.link("Operating System", 'operating_systems', null, 'os', 'operating_systems', _context) }}    
            {{ _self.link("Sandbox", 'sandbox', null, 'documents', 'sandbox', _context) }}
            {{ _self.link("Instance", 'instances', null, 'monitor', 'instances', _context) }}
            {{ _self.link("Codes", 'codes', null, 'doc-text', 'codes', _context) }}
            {{ _self.link("Usage", 'resources', null, 'tachometer', 'resources', _context) }}
            {% endif %}

            <div class="nav-item">
            <a class="toggle-sidebar nav-link" role="button" title="Toggle sidebar" type="button">
                <span class="toggle-sidebar-hide">{{ svg('angle-double-left') }}Collapse sidebar</span>
                <span class="toggle-sidebar-show">{{ svg('angle-double-right') }}</span>
            </a>
            </div>
        </ul>
    </nav>
{% endblock %}