{% extends 'dashboard.base.html.twig' %}

{% block wrapper %}
<div class="row">
    {% embed 'modal.html.twig' with {'title': 'New Network Settings'|trans, 'class': 'create-network-settings-modal'} %}
        {% block body %}
            {{ form(networkSettingsForm, {'id': 'networkSettingsForm'}) }}
        {% endblock %}
    {% endembed %}

    <div class="col grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">{{ 'Network Settings'|trans }}</h4>
                <p>
                    <button class="btn btn-success" data-target=".create-network-settings-modal" data-toggle="modal" type="button"><i
                            class="fa fa-plus"></i> {{ 'New'|trans }}</button>
                </p>
                <table id="networkSettingsTable" class="table table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>{{ 'Name'|trans }}</th>
                            <th>{{ 'IPv4'|trans }}</th>
                            <th>{{ 'IPv6'|trans }}</th>
                            <th>{{ 'Gateway'|trans }}</th>
                            <th>{{ 'Protocol'|trans }}</th>
                            <th>{{ 'Port'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('network-settings') }}
{% endblock %}