{% extends 'network_settings/index.html.twig' %}

{% block breadcrumbs %}
    {% set breadcrumbs = app.request.uri ends with 'edit' ? breadcrumbs : breadcrumbs|merge({ 'New': path('new_network_settings') }) %}
    {{ parent() }}
{% endblock %}

{% block wrapper %}

<div class="row">
    <div class="col grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    {% if app.request.uri ends with 'edit' %}
                        {{ 'Edit network settings'|trans }}: {{ networkSettings.name }}
                    {% else %}
                        {{ 'New network settings'|trans }}
                    {% endif %}
                </h4>
                {{ form(networkSettingsForm) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}