{% extends 'network_settings/index.html.twig' %}

{% block breadcrumbs %}
    {% set breadcrumbs = app.request.uri ends with 'edit' ? breadcrumbs : breadcrumbs|merge({ 'New': path('new_network_settings') }) %}
    {{ parent() }}
{% endblock %}

{% block wrapper %}
    <div class="content-title">
        <div class="content-title-infos">
            <h1>
                {% if app.request.uri ends with 'edit' %}
                    {{ 'Edit network settings'|trans }}: {{ networkSettings.name }}
                {% else %}
                    {{ 'New network settings'|trans }}
                {% endif %}
            </h1>
        </div>
    </div>
    <div class="content-body">
        {{ form(networkSettingsForm) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}