{% extends 'AppBundle::accueil_auth.html.twig' %}

{% block body %}
	<div id="page-wrapper">
            {% for flash_message in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flash_message }}
    </div>
	{% endfor %}
	    {% for flash_message in app.session.flashbag.get('danger') %}
    <div class="flash-notice">
        {{ flash_message }}
    </div>
	{% endfor %}

	<div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{{titre}}</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!-- content starts here -->
					
					 {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                    {# Les erreurs générales du formulaire. #}
                                    {{ form_errors(form) }}
                                    <div class="form-group">
                                        {# Génération du label. #}
                                        {{ form_label(form.nom, "Classe", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                        {# Affichage des erreurs pour ce champ précis. #}
                                        {{ form_errors(form.nom) }}

                                        <div class="col-sm-2">
                                            {# Génération de l'input. #}
                                            {{ form_widget(form.nom, {'attr': {'class': 'PODclass span3'}}) }}
                                        </div>
                                    </div>

                                    {{ form_widget(form.Suivant, {'attr': {'class': 'btn btn-primary'}}) }}

                                    {{ form_rest(form) }}

                                    {# Fermeture de la balise <form> du formulaire HTML #}
                                    {{ form_end(form) }}

                        <!-- content ends here -->
                    </div>
                </div>
            </div>
        </div>
		
			
			
	     
    
{% endblock %}