{% extends 'dashboard.base.html.twig' %}

{% block header %}
    {% set category = 'dashboard_index' %}
    {{ parent() }}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block sidebar %}{% endblock %}

{% block jumbotron %}
<div class="container">
    <div class="float-left"><img src="/profile/picture?size=96" alt="profile-img" class="rounded-circle mr-4"></div>
    <div>
        <h1 class="display-4">Hello, {{ app.user.name }}.</h1>
        <p class="lead">Welcome to RemoteLabz!</p>
    </div>
</div>
{% endblock %}

{% macro groupParent(group) %}
    {% if group.parent is not null %}{{ _self.groupParent(group.parent) }} <a href="{{ path('dashboard_show_group', {'slug': group.parent.path}) }}">{{ group.parent.name }}</a> /{% endif %}
{% endmacro %}

{% block wrapper_fluid %}

{%- set user = app.user %}
{% set groups = user.groupsInfo %}
{% set labs = [] %}
{% for group in groups %}
    {% for lab in group.labs %}
        {% set labs = labs|merge([lab]) %}
    {% endfor %}
{% endfor -%}
{% set labs = labs|sort((a, b) => a.lastUpdated < b.lastUpdated) %}

<div class="row">
    <div class="col-xl-8 col-lg-12 border-right">
        <h1 class="ml-3">Your labs</h1>
            {% if labs|length > 0 %}
            
            <div class="grid-xs-1 grid-sm-2 grid-md-3 grid-lg-3 grid-xl-3 grid-xxl-4">
                {%- for lab in labs -%}
                <div class="card m-4">
                    {% if lab.banner is not null %}
                    <img src="{{ path('get_lab_banner', {'id': lab.id}) }}" class="card-img-top" alt="Banner">
                    {% endif %}
                    <div class="card-body d-flex flex-column">
                        <h6 class="card-subtitle mb-2 text-muted">{{ _self.groupParent(lab.group) }} <a href="{{ path('dashboard_show_group', {'slug': lab.group.path}) }}">{{ lab.group.name }}</a> /</h6>
                        <h4 class="card-title"><a href="{{ path('show_lab', {'id': lab.id}) }}">{{ lab.name }}</a></h4>
                        <p class="card-text flex-grow-1">
                            {%- if lab.shortDescription is not null -%}
                            {{- lab.shortDescription -}}
                            {%- else -%}
                                No description
                            {%- endif -%}
                        </p>
                        {# <span class="text-muted">Created by <img src="/users/{{lab.author.id}}/picture?size=17" alt="{{lab.author.name}}" class="rounded-circle v-bottom" /> {{ lab.author.name }}</span> #}
                        <!-- <a href="{{ path('show_lab', {'id': lab.id}) }}" class="btn btn-primary lab-display-more">Go to lab</a> -->
                    </div>
                    <div class="card-footer text-muted">
                        Last updated <span class="timeago" datetime="{{ lab.lastUpdated|date('m/d/Y H:i:s') }}" data-toggle="tooltip" data-placement="bottom" title="{{ lab.lastUpdated|date('M d, Y h:ia') }}"></span>
                    </div>
                </div>
                {% endfor %}
            </div>
            
            <div class="m-4 see-more-card d-flex justify-content-center align-items-center">
                <a href="{{ path('labs') }}">
                    See more labs &RightArrow;
                </a>
            </div>
            {% else %}
                <div class="d-flex justify-content-center">
                    <div class="jumbotron-fluid">You don't have access to any lab yet. Come back later!</div>
                </div>
            {% endif %}
    </div>
    <div class="col-xl-4 col-lg-12">
        <h1 class="ml-3">Your groups</h1>
        {{- react_component('GroupExplorer', {'props': {"endpoint": path('api_groups'), "user": user.email}}) -}}
    </div>
</div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('timeago') }}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}