{% extends 'dashboard.base.html.twig' %}

{% block header %}
    {% set category = 'dashboard_index' %}
    {{ parent() }}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block sidebar %}{% endblock %}

{% block jumbotron %}
<div class="container">
    <div class="float-left"><img src="/profile/picture?size=96" width="96px" alt="profile-img" class="rounded-circle mr-4"></div>
    <div>
        <h1 class="display-4">Hello, {{ app.user.firstname }}.</h1>
        <p class="lead">Welcome to RemoteLabz!</p>
    </div>
</div>
{% endblock %}

{% macro groupParent(group) %}
    {% if group.parent is not null %}{{ _self.groupParent(group.parent) }} <a href="{{ path('dashboard_show_group', {'slug': group.parent.path}) }}">{{ group.parent.name }}</a> /{% endif %}
{% endmacro %}

{% block wrapper_fluid %}

{%- set user = app.user %}
{% set groups = user.groupsInfo %}
{% set started_instances =  [] %}
{% for instances in user.labinstances %}
    {% set started_instances = started_instances|merge([instances.lab.id]) %}
{% endfor %}

{% set bookingLabs =  [] %}
{% for booking in user.bookings %}
    {% if booking.lab not in bookingLabs %}
        {% set bookingLabs = bookingLabs|merge([booking.lab]) %}
    {% endif %}
{% endfor %}

<div class="row">
    <div class="col-xl-8 col-lg-12 border-right">
        <h1 class="ml-3">Your labs</h1>
        {% for group in groups %}
                {% set labs = [] %}
                {% set labs = labs|merge(group.labs) %}
                {# {% set labs = labs|sort((a, b) => a.lastUpdated < b.lastUpdated) %} #}
                {% if labs|length > 0 %}           
                <h6 class="ml-3 card-footer text-muted">In group {{group.name}}</h6>

                <div class="grid-xs-1 grid-sm-2 grid-md-3 grid-lg-3 grid-xl-3 grid-xxl-4">
                    {% for lab in group.labs %}
                        <div class="card m-4">
                            {% if lab.banner is not null %}
                            <img src="{{ path('get_lab_banner', {'id': lab.id}) }}" class="card-img-top" alt="Banner">
                            {% endif %}
                            <div class="card-body d-flex flex-column">
                                {# <h6 class="card-subtitle mb-2 text-muted">{{ _self.groupParent(group) }}<a href="{{ path('dashboard_show_group', {'slug': group.path}) }}">{{ group.name }}</a>
                                    {% if _self.groupParent(group) is null %}
                                        /
                                    {% endif %}
                                </h6> #}
                                <h4 class="card-title"><a href="{{ path('show_lab', {'id': lab.id}) }}">{{ lab.name }}</a>{% if lab.id in started_instances %}
                                &#128994;
                                {% else %}
                                &#128308;
                                {% endif %}</h4>
                                <p class="card-text flex-grow-1">
                                    {%- if lab.shortDescription is not null -%}
                                    {{- lab.shortDescription -}}
                                    {%- else -%}
                                        No description
                                    {%- endif -%}
                                </p>
                                {# <span class="text-muted">Created by <img src="/users/{{lab.author.id}}/picture?size=17" alt="{{lab.author.name}}" class="rounded-circle v-bottom" /> {{ lab.author.name }}</span> #}
                                <!-- <a href="{{ path('show_lab', {'id': lab.id}) }}" class="btn btn-primary lab-display-more">Go to lab</a> -->
                            </div>
                            <div class="card-footer text-muted">
                                Last updated <span class="timeago" datetime="{{ lab.lastUpdated|date('m/d/Y H:i:s') }}" data-toggle="tooltip" data-placement="bottom" title="{{ lab.lastUpdated|date('M d, Y h:ia') }}"></span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
              {#  {% else %}
                    <div class="d-flex justify-content-center">
                       <div class="jumbotron-fluid">You don't have access to any lab yet in this group.</div>
                    </div> #}
                {% endif %}
            
        {% endfor -%}
        {% if bookingLabs is not empty %}
            <h1 class="ml-3">Your bookings</h1>
            <div class="grid-xs-1 grid-sm-2 grid-md-3 grid-lg-3 grid-xl-3 grid-xxl-4">
                {% for lab in bookingLabs %}
                    <div class="card m-4">
                        {% if lab.banner is not null %}
                        <img src="{{ path('get_lab_banner', {'id': lab.id}) }}" class="card-img-top" alt="Banner">
                        {% endif %}
                        <div class="card-body d-flex flex-column">

                            <h4 class="card-title"><a href="{{ path('show_lab', {'id': lab.id}) }}">{{ lab.name }}</a>{% if lab.id in started_instances %}
                            &#128994;
                            {% else %}
                            &#128308;
                            {% endif %}</h4>
                            <p class="card-text flex-grow-1">
                                {%- if lab.shortDescription is not null -%}
                                {{- lab.shortDescription -}}
                                {%- else -%}
                                    No description
                                {%- endif -%}
                            </p>
                        </div>
                        <div class="card-footer text-muted">
                            Last updated <span class="timeago" datetime="{{ lab.lastUpdated|date('m/d/Y H:i:s') }}" data-toggle="tooltip" data-placement="bottom" title="{{ lab.lastUpdated|date('M d, Y h:ia') }}"></span>
                        </div>
                    </div>
                {% endfor -%}
            </div>
        {% endif %}            
    </div>
    <div class="col-xl-4 col-lg-12">
        <h1 class="ml-3">Your groups</h1>
        {{- react_component('GroupExplorer', {'props': {"endpoint": path('api_groups'), "user": user.email}}) -}}
    </div>
</div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('timeago') }}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}