{% extends 'base.html.twig' %}

{% block title %}Configuration {{title}}{% endblock %}

{% block body %}
<div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Configuration de l'équipement : {{title}}</h2>
                        
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
						Adresse réseau de l'équipement : {{ network_ip }}/{{ netmask }}<br/>
						Masque du réseau : {{ netmask }}<br/>
						Adresse IPv4 de l'équipement : {{ip_calc}}/{{ netmask }}<br/>
					</div>
				</div>
				
				
			</div>
</div>

{% endblock %}