{% extends 'dashboard.base.html.twig' %}

{% block wrapper %}
<div class="row">
    {% embed 'modal.html.twig' with {'title': 'Create user'|trans, 'class': 'create-user-modal'} %}
        {% block body %}
            {{ form(addUserForm, {'id': 'addUserForm'}) }}
        {% endblock %}
    {% endembed %}

    {% embed 'modal.html.twig' with {'title': 'Import from file'|trans, 'class': 'import-user-modal'} %}
        {% block body %}
            {{ form(addUserFromFileForm, {'id': 'addUserFromFileForm'}) }}
        {% endblock %}
    {% endembed %}

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">{{ 'Users'|trans }}</h4>
                <p>
                    <button class="btn btn-success" data-target=".create-user-modal" data-toggle="modal" type="button"><i
                            class="fa fa-plus"></i> {{ 'New'|trans }}</button>
                    <button class="btn btn-info" data-target=".import-user-modal" data-toggle="modal" type="button"><i
                            class="fa fa-upload"></i> {{ 'Import'|trans }}</button>
                </p>
                <table id="userTable" class="table table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>{{ 'Status'|trans }}</th>
                            <th class="sorting">{{ 'Last name'|trans }}</th>
                            <th>{{ 'First name'|trans }}</th>
                            <th>{{ 'Email'|trans }}</th>
                            <th>{{ 'Courses'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user') }}
{% endblock %}