{% extends 'dashboard.base.html.twig' %}

{% block breadcrumbs %}
    {% set breadcrumbs = breadcrumbs|merge({ 'Users': path('users') }) %}
    {{ parent() }}
{% endblock %}

{% block wrapper %}
<div class="row">
    {% embed 'modal.html.twig' with {'title': 'Import from file'|trans, 'class': 'import-user-modal'} %}
        {% block body %}
            <p>The CSV file must contains user informations in the following format:
                <br>
                <br>
                <kbd>lastName,firstName,email,password</kbd>
                <br>
                <br>
                <span class="text-danger">Warning:</span> Lines with an already used e-mail will be silently ignored.
            </p>
            {{ form(addUserFromFileForm, {'id': 'addUserFromFileForm'}) }}
        {% endblock %}
    {% endembed %}

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">{{ 'Users'|trans }}</h4>
                <p>
                    <a href="{{ path('new_user') }}" class="btn btn-success">{{ 'New user'|trans }}</a>
                    <button class="btn btn-info" data-target=".import-user-modal" data-toggle="modal" type="button"><i
                            class="fa fa-upload"></i> {{ 'Import from file'|trans }}</button>
                </p>
                <table id="userTable" class="table table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>{{ 'Status'|trans }}</th>
                            <th class="sorting">{{ 'Last name'|trans }}</th>
                            <th>{{ 'First name'|trans }}</th>
                            <th>{{ 'Email'|trans }}</th>
                            <th>{{ 'Role'|trans }}</th>
                            <th>{{ 'Courses'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user') }}
{% endblock %}