{% extends 'dashboard.base.html.twig' %}

{% block breadcrumbs %}
    {%- set breadcrumbs = breadcrumbs|merge({ 'Users': path('users') }) -%}
    {{ parent() }}
{% endblock %}

{% block wrapper %}
    <div class="top-panel">
            <div class="quick-actions">
                {% if is_granted('ROLE_ADMINISTRATOR') %}
                    <a class="btn btn-success" role="button" href="{{ path('new_lab') }}">{{ 'New user'|trans }}</a>
                    <a class="btn btn-info" role="button" href="{{ path('new_lab') }}">{{ 'Import users'|trans }}</a>
                {% endif %}
            </div>
        <ul class="nav-links nav nav-tabs">
            <li class="active"><a href="#"><span>Active</span> <span class="badge badge-pill">0</span></a></li>
            <li><a href="#"><span>Inactive</span> <span class="badge badge-pill">0</span></a></li>
            <li><a href="#"><span>All</span> <span class="badge badge-pill">0</span></a></li>
        </ul>
    </div>
    <div class="search-panel">
        <form action="{{ path('users') }}" method="GET">
            <input type="search" class="form-control input-sm" name="search"
            placeholder="Search by name or email"
            spellcheck="false" value="{{ search|default('') }}" type="search">
        </form>
    </div>
    <table class="table users-panel">
        <thead>
            <tr>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        {{- user.name -}} <br> <a href="mailto:{{- user.email -}}">{{- user.email -}}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# {{ encore_entry_script_tags('lab') }} #}
{% endblock %}